@model YKPortal.Models.Dto.B2BAyarlariDto
@{
    ViewBag.Title = "B2B Ayarları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-10">
    <form action="/Ayarlar/B2BAyarlari" method="post">

        <div class="row mb-12">
            <!--begin::Input group-->
            <div class="col-lg-6">
                <!--begin::Label-->
                <label for="B2BLogoKullaniciAdi" class="fw-bold text-gray-700 fs-6 mb-2">B2B Logo Kullanıcı Adı</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input type="text" id="B2BLogoKullaniciAdi" name="B2BLogoKullaniciAdi" class="form-control p-2" value="@Model.B2BLogoKullaniciAdi">
                <!--end::Input-->
            </div>
            <!--begin::Input group-->


            <div class="col-lg-6">
                <!--begin::Label-->
                <label for="B2BLogoParola" class="fw-bold text-gray-700 fs-6 mb-2">B2B Logo Parola</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input type="text" id="B2BLogoParola" name="B2BLogoParola" class="form-control p-2" value="@Model.B2BLogoParola" ">
                <!--end::Input-->
            </div>

        </div>

        <div class="row">
            <div class="col-lg-6">
                <!--begin::Label-->
                <label for="B2BLogoSirket" class="fw-bold text-gray-700 fs-6 mb-2">Şirket</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input type="text" id="B2BLogoSirket" name="B2BLogoSirket" class="form-control p-2" value="@Model.B2BLogoSirket">
                <!--end::Input-->
            </div>
           
        </div>

        <div class="pt-10">
            <a onclick="history.back()" class="btn btn-light btn-sm me-3" data-kt-users-modal-action="cancel">Geri</a>
            <button type="submit" class="btn btn-primary btn-sm" data-kt-users-modal-action="Kaydet">
                <span class="indicator-label">Kaydet</span>

            </button>
        </div>


    </form>
</div>