@model YKPortal.Models.Dto.SeriDto
@{
    ViewBag.Title = "Seri Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-10">
    <div class="row mb-10">

        <form action="/Ayarlar/SeriKaydet" method="post">
            <input type="hidden" id="seriId" name="ID" value="" /> <!-- Güncelleme işlemi için ID; -->

            <div class="row mb-5">

                <div class="col-lg-6">
                    <label class="fw-semibold fs-6 mb-2" for="Kod">Kod:</label>
                    <input type="text" class="form-control p-2 mb-3 mb-lg-0" name="Kod" value="@Model.Kod" readonly />
                </div>
                <div class="col-lg-6">
                    <label class="fw-semibold fs-6 mb-2" for="Deger">Deger:</label>
                    <input type="text" class="form-control p-2 mb-3 mb-lg-0" name="Deger" value="@Model.Deger" maxlength="3" />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 d-flex align-items-center ">
                    <div class="form-check">
                        <input class="form-check-input" name="Aktif" type="checkbox" value="true" id="Aktif" checked @(Model.Aktif ? "checked" : "") />
                        <label class="form-check-label user-select-none cursor-pointer" for="Aktif">
                            Aktif
                        </label>
                    </div>
                </div>

            </div>

            <div class="pt-10">
                <a onclick="history.back()" class="btn btn-light btn-sm me-3" data-kt-users-modal-action="cancel">Geri</a>
                <button onclick="SeriKaydet()" type="submit" class="btn btn-primary btn-sm" data-kt-users-modal-action="Kaydet">
                    <span class="indicator-label">Kaydet</span>

                </button>
            </div>
        </form>
    </div>
</div>


@section Scripts {


    <script>
        function SeriKaydet() {
            // Girdileri JavaScript üzerinden alın
            $('form').on('submit', function (e) {
                e.preventDefault();

                var seriDto = {
                    ID: $(this).find('[name="ID"]').val() || "",
                    Kod: $(this).find('[name="Kod"]').val() || "",
                    Deger: $(this).find('[name="Deger"]').val() || "",
                    Aktif: $(this).find('[name="Aktif"]').is(":checked") || "",
                };

                if (seriDto.Deger.length != 3) {
                    sweetalert("Seri değeri 3 karakter olmalıdır.", "error");
                    return;
                }

                loader().show();
                $.ajax({
                    url: '/Ayarlar/SeriKaydet',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(seriDto),
                    success: function (response) {
                        if (response.SonucKodu == "0") {
                            sweetalert(response.Aciklama); // "Kayıt başarılı" mesajı
                        } else {
                            sweetalert(response.Aciklama, "error");
                        }
                        loader().hide();
                    },
                    error: function () {
                        sweealert("Kayıt sırasında bir hata oluştu.", "error");
                        loader().hide();
                    }
                })

            });
        }

    </script>
}
