@using System.Data
@model System.Data.DataTable
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Areas/E/Views/Shared/_Layout.cshtml";

}

<a href="@Url.Action("AnaSayfa","Site",new { Area = "E" })">
    E-Ticaret Ana Sayfa
</a>

@section Styles {

}
@section scripts {



}
