
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="icon" type="image/x-icon" href="~/Tema/ETicaret/assets/images/icons/favicon.png">


    <script>
        WebFontConfig = {
            google: {
                families: ['Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700,800', 'Oswald:300,400,500,600,700,800']
            }
        };
        (function (d) {
            var wf = d.createElement('script'),
                s = d.scripts[0];
            wf.src = '/Tema/ETicaret/assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="~/Tema/ETicaret/assets/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="~/Tema/ETicaret/assets/css/demo4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Tema/ETicaret/assets/vendor/fontawesome-free/css/all.min.css">
    <meta name="viewport" content="width=device-width" />
    <title>Giris</title>
</head>
<body>
    <div class="page-wrapper">
        <div class="container mt-10">
            <h2 class="title">Giriş</h2>
            <form action="#" class="mb-0">
                <div class="row">
                    <div class="col-lg-4">
                        <label for="login-email">
                            Username or email address
                            <span class="required">*</span>
                        </label>
                        <input type="email" class="form-input form-wide mb-2" id="login-email" required="">
                    </div>
                    <div class="col-lg-4">
                        <label for="login-email">
                            Parola
                            <span class="required">*</span>
                        </label>
                        <input type="email" class="form-input form-wide mb-2" id="login-email" required="">
                    </div>
                    <div class="col-lg-4">
                        <label for="login-email">
                            label
                            <span class="required">*</span>
                        </label>
                        <input type="email" class="form-input form-wide mb-2" id="login-email" required="">
                    </div>
                </div>


                <div class="form-footer">
                    <div class="custom-control custom-checkbox ml-0">
                        <input type="checkbox" class="custom-control-input" id="lost-password">
                        <label class="custom-control-label form-footer-right" for="lost-password">Remember me</label>
                    </div>
                    <div class="form-footer-right">
                        <a href="#" class="forget-password">Şifremi Unuttum?</a>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-dark btn-block btn-md">
                        Giriş Yap
                    </button>

                    <button type="submit" class="btn btn-regist bg-transparent text-transform-none p-0" title="register button">
                        Register Now!
                    </button>
                </div>
            </form>
        </div>
    </div>
    

    <!-- Plugins JS File -->
    <script src="~/Tema/ETicaret/assets/js/jquery.min.js"></script>
    <script src="~/Tema/ETicaret/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Tema/ETicaret/assets/js/optional/isotope.pkgd.min.js"></script>
    <script src="~/Tema/ETicaret/assets/js/plugins.min.js"></script>
    <script src="~/Tema/ETicaret/assets/js/jquery.appear.min.js"></script>
    <!-- Main JS File -->
    <script src="~/Tema/ETicaret/assets/js/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



    <script>var hostUrl = "~/Tema/ETicaret";</script>
    <script>
        function sweetalert(message = "", type = "success") {
            Swal.fire({
                text: message,
                icon: type,
                buttonsStyling: false,
                confirmButtonText: "Anladım!",
                customClass: {
                    confirmButton: "btn btn-primary"
                }
            });
        }

        $(function () {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);

           

            urlParams.forEach((value, key) => {
                if (key == "returnCode") {
                    if (value == "2000") {
                        sweetalert("Üye kayıt işlemi başarıyla gerçekleştirildi.", "success");
                    }
                }
                console.log(`${key}: ${value}`);
            });
        });
    </script>
</body>
</html>
