.auth-right-bg-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.dt-search {
    display: none !important;
}

.Uye-Ol-Form {
    width: 800px;
    height: 700px;
}

Menu-Cari {
    width: 300px;
    height: 800px;
}

.select2-search__field:focus {
    outline: none !important;
}

.hidden {
    display: none !important;
}

tr.selected .btn.btn-light,
tr.selected .menu-link {
    color: black !important;
}


.dt-buttons .btn-group button.btn:not(:last-child) {
    border-right: 1px solid #ddd;
}

.table.dataTable tr.selected {
    background-color: #fff !important;
}


    .table.dataTable tr.selected > * {
        background-color: #fff !important;
        color: #79829d !important;
        box-shadow: unset !important;
    }

.table .dt-select {
    cursor: pointer;
}

    .table .dt-select:hover {
        background-color: #eee;
    }

.patrial-menu {
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 0 !important;
}


div.dt-container div.dt-info {
    display: flex;
    align-items: center;
    height: 100%;
}

div.dt-container {
    padding-left: 16px;
    padding-right: 16px;
}

.cari {
    width: calc(100% - 360px) !important;
}

@media dosya-search-input (max-width:500px) {
    body {
        width: 100% !important;
    }
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid var(--bs-gray-300) !important;
    background-color: var(--bs-body-bg) !important;
    color: var(--bg-gray-700) !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid var(--bs-gray-300) !important;
    background-color: var(--bs-body-bg) !important;
    color: var(--bg-gray-700) !important;
}

.select2-container .select2-selection--single {
    height: 36.44px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36.44px !important;
    color: var(--bg-gray-600) !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px !important;
    color: var(--bg-gray-700) !important;
}

.select2-dropdown {
    background-color: var(--bs-body-bg) !important;
    color: var(--bg-gray-700) !important;
    border: 1px solid var(--bs-gray-300) !important;
}

.ps-28 {
    padding-left: 5.8rem !important;
}

.auth-right-bg-image {
    width: 100% !important;
    padding: 0 !important;
}

.deleteBtn {
    background-color: #ff0000 !important;
    border: 0 !important;
    color: #fff !important;
    font-weight: bold !important;
    padding-bottom: 5px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 5px !important;
    padding-top: 6px !important;
}

.form-control .kalemler-input {
    padding: 0px !important;
}

.form-select .form-select-solid .p-2 rounded-1 .bg-gray-100 .fatura {
    background-color: #f9f9f9 !important;
}

.Cari-Bilgisi {
    background-image: url('../media/Photo/arkaplan texture.png') !important;
}

.custom-page-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bs-body-bg);
}

.kullanici-sec {
    cursor: pointer;
    user-select: none;
    padding-left: 4px !important;
}

    .kullanici-sec:hover {
        background-color: #f9f9f9;
    }



/* Dark Mod */
.dark-mode .form-select {
    background-color: #333 !important; /* Koyu bir arka plan rengi */
    color: #fff; /* Beyaz yazı rengi */
}

.app-sidebar {
    height: 100dvh;
    overflow-y: hidden;
}

.tox-statusbar__branding {
    display: hidden !important;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-nav .nav-link:hover > span,
.navbar-nav .nav-link:hover > span.menu-icon i {
    color: #0275d8 !important;
}

.menu-link:hover {
    color: #0d6efd !important;
    background-color: rgba(13, 110, 253, 0.1) !important;
    border-radius: 4px !important;
    transition: background-color 0.3s ease, color 0.3s ease !important;
}
    .menu-link:hover .menu-icon i {
        color: #0d6efd !important;
    }

    .menu-link:hover > span {
        color: #0d6efd !important;
    }
