@using YKPortal.Areas.E.Models.Dto
@model YKPortal.Areas.E.Models.Dto.ETicaretSabitSayfalarDto
@{
    ViewBag.Title = Model.Ad;
    Layout = "~/Areas/E/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Ad</h1>
<p>@Model.Icerik</p>

