@using YKPortal.Areas.E.Models.Dto
@model YKPortal.Areas.E.Models.Dto.ETicaretSabitSayfalarDto
@{
    ViewBag.Title = "Vizyon";
    Layout = "~/Areas/E/Views/Shared/_Layout.cshtml";
}

<h2>Vizyon</h2>



<form method="post" action="@Url.Action("SayfaGuncelle", "ETicaretSabitSayfalar")">
    <input type="hidden" name="ID" value="@Model.SayfaID" />
    <input type="hidden" name="SayfaAdi" value="@Model.Ad" />

    <div>
        <label for="icerik">Sayfa İçeriği</label>
        <textarea id="icerik" name="Icerik">@Model.Icerik</textarea>
    </div>

    <button type="submit">Güncelle</button>
</form>
