@model System.Data.DataTable
@{
    ViewBag.Title = "Şube Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--begin::Form-->
<form id="kt_modal_add_user_form" class="form" action="@Url.Action("Ekle","Sube",null)" method="post" enctype="multipart/form-data">

    @if (Model != null)
    {
        if (Model.Rows.Count > 0)
        {
            string ID = Convert.ToString(Model.Rows[0]["ID"]);
            string Bilgi = Convert.ToString(Model.Rows[0]["Bilgi"]);
            if (ID == "0")
            {
                <!--begin::Alert-->
                <div class="alert alert-danger d-flex align-items-center p-5">
                    <!--begin::Icon-->
                    <i class="ki-duotone ki-shield-tick fs-2hx text-danger me-4"><span class="path1"></span><span class="path2"></span></i>
                    <!--end::Icon-->
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-column">
                        <!--begin::Content-->
                        <span>@Bilgi</span>
                        <!--end::Content-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Alert-->
            }
        }
    }

    <!--begin::Scroll-->
<div class="d-flex flex-column scroll-y container mt-10">
    <!--begin::Row Input group-->
    <div class="row mb-12">
        <!--begin::Input group-->
        <div class="col-lg-6">
            <!--begin::Label-->
            <label for="Kod" class="fw-bold text-gray-800 fs-6 mb-2">Kod</label>
            <!--end::Label-->
            <!--begin::Input-->
            <input type="text" id="Kod" name="Kod" class="form-control">
            <!--end::Input-->
        </div>
        <!--begin::Input group-->
        <div class="col-lg-6">
            <!--begin::Label-->
            <label for="Isim" class="fw-bold text-gray-800 fs-6 mb-2">Isim</label>
            <!--end::Label-->
            <!--begin::Input-->
            <input type="text" id="Isim" name="Isim" class="form-control">
            <!--end::Input-->
        </div>

    </div>
    <!--end::Input group-->
    <!--begin::Row Input group-->
    <div class="row mb-12">
        <!--begin::Input group-->
        <div class="col-lg-6">
            <!--begin::Label-->
            <label for="Adres" class="fw-bold text-gray-800 fs-6 mb-2">Adres</label>
            <!--end::Label-->
            <!--begin::Input-->
            <input type="text" id="Adres" name="Adres" class="form-control">
            <!--end::Input-->
        </div>
        <!--begin::Input group-->
        <div class="col-lg-6">
            <!--begin::Label-->
            <label for="Telefon" class="fw-bold text-gray-800 fs-6 mb-2">Telefon</label>
            <!--end::Label-->
            <!--begin::Input-->
            <input type="text" id="Telefon" name="Telefon" class="form-control">
            <!--end::Input-->
        </div>

    </div>
    <!--end::Input group-->
    <!--begin::Actions-->
    <div class="pt-5">
        <a href="/Sube/Liste" class="btn btn-light me-3" data-kt-users-modal-action="cancel">Geri</a>
        <button type="submit" class="btn btn-primary" data-kt-users-modal-action="Kaydet">
            <span class="indicator-label">Kaydet</span>
            <span class="indicator-progress">
                Lütfen Bekleyin...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>
    </div>
    <!--end::Actions-->
</div>
</form>
<!--end::Form-->
