@model System.Data.DataTable
@{
    ViewBag.Title = "Şube Ekle";
    Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

<!--begin::Form-->
<form id="kt_modal_add_user_form" class="form" action="@Url.Action("Ekle","Sube",null)" method="post" enctype="multipart/form-data">

    @if (Model != null)
    {
        if (Model.Rows.Count > 0)
        {
            string ID = Convert.ToString(Model.Rows[0]["ID"]);
            string Bilgi = Convert.ToString(Model.Rows[0]["Bilgi"]);
            if (ID == "0")
            {
                <!--begin::Alert-->
                <div class="alert alert-danger d-flex align-items-center p-5">
                    <!--begin::Icon-->
                    <i class="ki-duotone ki-shield-tick fs-2hx text-danger me-4"><span class="path1"></span><span class="path2"></span></i>
                    <!--end::Icon-->
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-column">
                        <!--begin::Content-->
                        <span>@Bilgi</span>
                        <!--end::Content-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Alert-->
            }
        }
    }

    <!--begin::Scroll-->
    <div class="d-flex flex-column scroll-y container mt-10">
        <!--begin::Row Input group-->
        <div class="row mb-12">
            <!--begin::Input group-->
            <div class="col-lg-6">
                <!--begin::Label-->
                <label for="Kod" class="fw-bold text-gray-800 fs-6 mb-2">Kod</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input type="text" id="Kod" name="Kod" class="form-control p-2" required>
                <!--end::Input-->
            </div>
            <!--begin::Input group-->
            <div class="col-lg-6">
                <!--begin::Label-->
                <label for="Isim" class="fw-bold text-gray-800 fs-6 mb-2">İsim</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input type="text" id="Isim" name="Isim" class="form-control p-2" required>
                <!--end::Input-->
            </div>

        </div>
        <!--end::Input group-->
        <!--begin::Row Input group-->
        <div class="row">
            <!--begin::Input group-->
            <div class="col-lg-6">
                <!--begin::Label-->
                <label for="Adres" class="fw-bold text-gray-800 fs-6 mb-2">Adres</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input type="text" id="Adres" name="Adres" class="form-control p-2">
                <!--end::Input-->
            </div>
            <!--begin::Input group-->
            <div class="col-lg-6">
                <!--begin::Label-->
                <label for="Telefon" class="fw-bold text-gray-800 fs-6 mb-2">Telefon</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input type="text" id="Telefon" name="Telefon" class="form-control p-2">
                <!--end::Input-->
            </div>

        </div>
        <!--end::Input group-->
        <!--begin::Actions-->
        <div class="pt-10">
            <a onclick="history.back()" class="btn btn-light btn-sm me-3" data-kt-users-modal-action="cancel">Geri</a>
            <button type="submit" class="btn btn-primary btn-sm" data-kt-users-modal-action="Kaydet">
                <span class="indicator-label">Kaydet</span>

            </button>
        </div>
        <!--end::Actions-->
    </div>
</form>
<!--end::Form-->

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {

            Inputmask({
                "mask": "(999) 999-9999"
            }).mask("#Telefon");

        });

    </script>
}
