@using YKPortal.Models
@using System.Data.SqlClient
@using System.Data
@{
    var stokID = ViewData["StokID"];
    var Isim = "";

    SqlCommand cmd = new SqlCommand();
    cmd.CommandText = "p_Stok";
    cmd.CommandType = System.Data.CommandType.StoredProcedure;
    cmd.Parameters.AddWithValue("@ID", stokID);
    cmd.Parameters.AddWithValue("@UyelikID", Request.Cookies["UyelikID"].Value);

    DataTable dt = (DataTable)IDVeritabani.Sorgula(cmd, SorgulaTuru.Tablo);

    Isim = Convert.ToString(dt.Rows[0]["Isim"]);

}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link rounded-0  py-2 px-8" href="/Stok/Duzenle/@ViewData["StokID"]" aria-current="page">
                    <span class="menu-icon">
                        <i class="ki-duotone ki-home fs-3">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
                        </i>
                    </span>                  
                    <span class="menu-title fw-semibold text-gray-700 ps-2">Genel Bilgiler</span>
                </a>
                <a class="nav-link rounded-0 py-2 px-8" href="/Stok/NotListe?StokID=@ViewData["StokID"]">
                    <span class="menu-icon">
                        <i class="ki-duotone ki-notepad-bookmark fs-3">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                            <span class="path4"></span>
                            <span class="path5"></span>
                            <span class="path6"></span>
                        </i>
                    </span>
                    <span class="menu-title fw-semibold text-gray-700 ps-2">Notlar</span>
                </a>
                <a class="nav-link rounded-0 py-2 px-8" href="/Dosya/Liste?Modul=Stok&KayitID=@ViewData["StokID"]">
                    <span class="menu-icon">
                        <i class="ki-duotone ki-folder fs-3">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </span>
                    <span class="menu-title fw-semibold text-gray-700 ps-2">Dosyalar</span>
                </a>
                <a class="nav-link rounded-0 py-2 px-8"href="/Stok/YeniStokHareketKaydi?StokID=@(ViewData["StokID"])&Isim=@(Isim)">
                    <span class="menu-icon">
                        <i class="ki-duotone ki-brush fs-3">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                            <span class="path4"></span>
                        </i>
                    </span>
                    <span class="menu-title fw-semibold text-gray-700 ps-2">Yeni Stok Hareketi</span>
                </a>
                <a class="nav-link rounded-0 py-2 px-8" href="/Stok/HareketListesi?StokID=@ViewData["StokID"]">
                    <span class="menu-icon">
                        <i class="ki-duotone ki-book-square fs-3">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                            <span class="path4"></span>
                        </i>
                    </span>
                    <span class="menu-title fw-semibold text-gray-700 ps-2">Stok Ekstre</span>
                </a>
                <a class="nav-link rounded-0 py-2 px-8" href="/Stok/FiyatEkle?StokID=@ViewData["StokID"]">
                    <span class="menu-icon">
                        <i class="ki-duotone ki-book-square fs-3">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                            <span class="path4"></span>
                        </i>
                    </span>
                    <span class="menu-title fw-semibold text-gray-700 ps-2">Fiyat Ekle</span>
                </a>
               
                <a class="nav-link rounded-0 py-2 px-8" href="/Stok/Liste">
                    <span class="menu-icon">
                        <i class="ki-duotone ki-black-left fs-3"></i>
                    </span>
                    <span class="menu-title fw-semibold text-gray-700 ps-2">Stok Listesine Dön</span>
                </a>
            </div>

        </div>
    </div>

</nav>




