
@model YKPortal.Models.Dto.StokListeViewModel
@{
    ViewBag.Title = "Stok Listesi";
    Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

<input type="hidden" name="YetkiSil" value="0" />
<input type="hidden" name="YetkiDuzenle" value="0" />
<div class="container-fluid p-0">
    <div class="row p-0 m-0">
        <div class="col-lg-12 p-0">
            <div class="content d-flex justify-center flex-column flex-column-fluid p-0" id="kt_content">
                <!--begin::Post-->
                <div class="post d-flex flex-column" id="kt_post">
                    <!--begin::Container-->
                    <div id="kt_content_container" class="container-fluid p-0 m-0">
                        <div class="card card-flush border-0 shadow-none m-0 p-0">
                            <div class="card-header align-items-center border-0 shadow-0 gap-2 gap-md-5 p-0 m-0">

                                <div class="card-title">
                                    <!--begin::Export buttons-->
                                    <div id="kt_datatable_example_1_export" class="d-none"></div>
                                    <!--end::Export buttons-->
                                </div>
                                <div class="card-toolbar flex-row-fluid justify-content-end gap-3">
                                    <button type="button" id="topluSilButon" class="btn btn-light-primary btn-sm fw-bold" onclick="$('#DivFiltre').toggle();">
                                        <span class="indicator-label fw-bold">Filtre</span>
                                        <i class="ki-duotone ki-filter">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </button>
                                    <div>
                                        <button type="button" id="topluSilButon" class="btn btn-light-primary btn-sm fw-bold" data-bs-toggle="modal" data-bs-target="#Stok-toplu-silme">
                                            <span class="indicator-label">Toplu Sil</span>
                                        </button>
                                    </div>
                                    <button type="button" class="btn btn-light-primary btn-sm fw-bold" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                        <i class="ki-duotone ki-exit-down fs-2"><span class="path1"></span><span class="path2"></span></i>
                                        Dışarı aktar
                                    </button>
                                    <!--begin::Menu-->
                                    <a class="btn btn-primary btn-sm fw-bold" href="/Stok/ExcelIceAktar">
                                        Excel içe aktar

                                    </a>
                                    <div id="kt_datatable_example_export_menu" class="menu menu-sub menu-sub-dropdown menu-column menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-200px p-0" data-kt-menu="true">
                                        <!--begin::Menu item-->
                                        <div class="menu-item p-0">
                                            <a href="#" class="menu-link py-0 px-2" data-kt-export="copy">
                                                Panoya Kopyala
                                            </a>
                                        </div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu item-->
                                        <div class="menu-item p-0">
                                            <a href="#" class="menu-link  py-0 px-2" data-kt-export="excel">
                                                Excel olarak dışarı aktar
                                            </a>
                                        </div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu item-->
                                        <div class="menu-item p-0">
                                            <a href="#" class="menu-link py-0 px-2" data-kt-export="csv">
                                                CSV olarak dışarı aktar
                                            </a>
                                        </div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu item-->
                                        <div class="menu-item p-0">
                                            <a href="#" class="menu-link py-0 px-2" data-kt-export="pdf">
                                                PDF olarak dışarı aktar
                                            </a>
                                        </div>
                                        <!--end::Menu item-->
                                    </div>
                                    <!--end::Menu-->
                                    <!--end::Export dropdown-->
                                    <!--begin::Hide default export buttons-->
                                    <div id="kt_datatable_example_buttons" class="d-none"></div>
                                    <!--end::Hide default export buttons-->
                                    <a href="/Stok/Ekle" class="btn btn-primary btn-sm fw-bold me-4">
                                        <i class="ki-duotone ki-plus fs-2"></i>Stok Ekle
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div>
                        <div class="card border-0 shadow-none ps-4 pe-4" style="display:none;" id="DivFiltre" name="DivFiltre">
                            <div class="card-body">
                                <!--begin::Filtreleme alanı-->
                                <form method="POST" action="" class="content" id="datatableFilters">
                                    <div class="d-flex">
                                        <h3 class="text-gray-600 fw-bold">Filtreler</h3>
                                        <i class="ki-duotone ki-filter-search fs-2">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                            <span class="path3"></span>
                                        </i>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3">
                                            <!--begin::Label-->
                                            <label for="Kod" class="fw-semibold fs-6 mb-2 text-gray-600 fw-bold">Kod</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="text" name="Kod" id="Kod" class="form-control form-control-solid px-2 py-1 mb-3 mb-lg-0" value="" />
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-lg-3">
                                            <!--begin::Label-->
                                            <label for="Isim" class="fw-semibold fs-6 mb-2 text-gray-600 fw-bold">Stok Adı</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="text" name="Isim" id="Isim" class="form-control form-control-solid px-2 py-1 mb-3 mb-lg-0" value="" />
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-lg-3">
                                            <!--begin::Label-->
                                            <label for="GrupKoduAdi1" class="fw-semibold fs-6 mb-2 text-gray-600 fw-bold">Grup Kodu 1</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="text" name="GrupKoduAdi1" id="GrupKoduAdi1" class="form-control form-control-solid px-2 py-1 mb-3 mb-lg-0" value="" />
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-lg-3">
                                            <!--begin::Label-->
                                            <label for="GrupKoduAdi2" class="fw-semibold fs-6 mb-2 text-gray-600 fw-bold">Grup Kodu 2</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="text" name="GrupKoduAdi2" id="GrupKoduAdi2" class="form-control form-control-solid px-2 py-1 mb-3 mb-lg-0" value="" />
                                            <!--end::Input-->
                                        </div>

                                    </div>
                                    <div class="row mt-4">

                                        <div class="col-lg-3">
                                            <!--begin::Label-->
                                            <label for="Aciklama" class="fw-semibold fs-6 mb-2 text-gray-600 fw-bold">Açıklama</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="text" name="Aciklama" id="Aciklama" class="form-control form-control-solid px-2 py-1 mb-3 mb-lg-0" value="" />
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-lg-3 offset-lg-6 d-flex justify-content-end align-items-end">
                                            <button type="button" id="filtreleriTemizle" class="btn btn-light me-3 btn-sm fw-bold" data-kt-users-modal-action="cancel">Temizle</button>
                                            <button type="submit" class="btn btn-primary btn-sm fw-bold" data-kt-users-modal-action="Ara">
                                                <span class="indicator-label">Filtrele</span>
                                            </button>
                                        </div>
                                    </div>

                                </form>
                                <!--end::Filtreleme alanı-->
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                    .max-w-250 {
                        max-width: 250px !important;
                    }

                    .max-w-400 {
                        max-width: 400px !important;
                    }
                </style>
                <div style="overflow: scroll; height: calc(100% - 80px);">
                    <table class="table p-2 align-middle border rounded table-row-dashed fs-6 g-5" id="Stok-datatable">

                        <thead>

                            <!--begin::Table row-->
                            <tr class="text-start" style="font-size:15px;">
                                <th id="select" class="min-w-40px max-w-40px no-export"></th>
                                <th class="min-w-125px max-w-400"><strong>Stok İsmi</strong></th>
                                <th class="min-w-125px"><strong>Stok Kodu</strong></th>
                                <th class="min-w-125px mt-8"><strong>Açıklama</strong></th>
                                <th class="min-w-125px mt-8"><strong>GrupKodu1</strong></th>
                                <th class="min-w-125px"><strong>GrupKodu2</strong></th>
                                <th class="text-end min-w-100px no-export"><strong>İşlemler</strong></th>
                                <th class="text-end max-w-1px no-export"><strong>ID</strong></th>
                            </tr>
                            <!--end::Table row-->
                        </thead>
                        <tbody class="text-gray-600 fw-semibold">
                            <!-- Veriler AJAX ile yüklenecek -->

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--end::Container-->
    </div>
</div>


<div class="modal fade" id="Stok-silme" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Stok Silme İşlemi</h3>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <p>Stok bilgisini silmek istediğinize emin misiniz?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Vazgeç</button>
                <form method="post" id="silme-formu">
                    <input type="hidden" name="id" value="" />
                    <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Stok-toplu-silme" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Stok Silme İşlemi</h3>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <p>Seçtiğiniz stok bilgilerini silmek istediğinize emin misiniz?</p>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Vazgeç</button>
                <button type="button" id="topluSilOnay" class="btn btn-danger btn-sm">Sil</button>
            </div>
        </div>
    </div>
</div>
@section Styles {
}
@section Scripts {
    <script>


        function setCookie(name, value, days) {
            let expires = "";
            if (days) {
                let date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }

            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }

        function getCookie(name) {
            let nameEQ = name + "=";
            let ca = document.cookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        var select = document.querySelectorAll("#select")


        $(function () {

            const stokDatatable = KTDatatablesExample.init();

            stokDatatable.loadDataTableSettingsFromCookie(stokDatatable.datatable);

            stokDatatable.datatable.on('column-visibility.dt', function (e, settings, column, state) {
                stokDatatable.saveDataTableColumnSettingsToCookie(stokDatatable.datatable, column, state)
            });
        });


        var colResize_options = {
            isEnabled: true,
            hoverClass: 'dt-colresizable-hover',
            hasBoundCheck: true,
            minBoundClass: 'dt-colresizable-bound-min',
            isResizable: function (column) { return true; },
            onResize: function (column) { },
            onResizeEnd: function (column) { },
            getMinWidthOf: function ($thNode) { }

        }
        var colReorder_options = {
            realtime: false
        }

        // Class definition
        var KTDatatablesExample = function () {
            // Shared variables
            var table;
            var datatable;

            // Private functions
            var initDatatable = function () {
                // Set date data order
                const tableRows = table.querySelectorAll('tbody tr');

                var options = {
                    autoWidth: false,
                    ajax: {
                        url: '/Stok/Liste', // POST isteği yaparak sunucudaki Liste metoduna gidiyoruz
                        type: 'POST',
                        data: function (d) {
                            // Form alanlarındaki filtre verilerini POST isteğine ekliyoruz
                            return {
                                Kod: $('#Kod').val(),
                                Isim: $('#Isim').val(),
                                Unvan: $('#GrupKodu1ID').val(),
                                TCKimlikNo: $('#GrupKodu2ID').val(),
                                VergiNumarasi: $('#Aciklama').val(),

                            };
                        },
                        dataSrc: function (json) {
                            if (json.success) {
                                // Başarılı olduğunda JSON'dan gelen 'data' kısmını al ve tabloya yerleştir
                                $('input[name="YetkiSil"]').val(json.data.Sil ? "1" : "0");
                                $('input[name="YetkiDuzenle"]').val(json.data.Duzenle ? "1" : "0");
                                return json.data.StokListesi;
                            } else {
                                // Başarısız olduğunda bir hata mesajı göster
                                alert(json.message);
                                return [];
                            }
                        }
                    },
                    columns: [
                        {},
                        { data: 'Isim' },
                        { data: 'Kod' },
                        { data: 'Aciklama' },

                        { data: 'GrupKodu1ID' },
                        { data: 'GrupKodu2ID' },

                        {
                            data: null, // Silme ve düzenleme butonları için
                            render: function (data, type, row) {

                                var buttons = `
                                                       <div class="dropdown">
                                                           <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton${row.ID}" data-bs-toggle="dropdown" aria-expanded="false"> İşlemler </button>
                                                             <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton${row.ID}">`;

                                // Eğer silme yetkisi varsa
                                if ($('input[name="YetkiSil"]').val() == "1") {
                                    buttons += `
                                                      <li><button class="dropdown-item btn-sil Stok-toplu-silme" data-bs-toggle="modal" data-bs-target="#Stok-silme" data-id="${row.ID}">Sil</button></li>
                                                     `;
                                }

                                // Eğer düzenleme yetkisi varsa
                                if ($('input[name="YetkiDuzenle"]').val() == "1") {
                                    buttons += `
                                                    <li><a class="dropdown-item" href="/Stok/Duzenle/${row.ID}">Düzenle</a></li>
                                                 `;
                                }

                                buttons += `
                                              </ul>
                                              </div>
                                                 `;

                                return buttons;

                            }
                        },
                        { data: 'ID' },
                    ],

                    scrollCollopse: true,
                    colResize: true,
                    colReorder: colReorder_options,

                    caching: true,
                    select: {
                        style: "multi",
                        style: 'bootstrap',
                        selector: 'td:first-child'
                    },
                    order: [
                        [2, "asc"],
                    ],
                    ordering: true,
                    paging: true,
                    pageLength: 10,


                    language: { url: '//cdn.datatables.net/plug-ins/2.0.7/i18n/tr.json', },

                    columnDefs: [
                        {
                            targets: [2, 3],
                            width: "250px",
                        },
                        {
                            targets: [0, 6],
                            orderable: false
                        },
                        {
                            targets: 7,
                            visible: false,
                            className: 'noVis',
                            orderable: false,
                            name: 'ID'
                        },
                        {
                            render: DataTable.render.select(),
                            targets: 0,
                            width: "40px",
                            visible: true,
                            orderable: false,
                            searchable: false,
                            className: 'noVis'
                        },
                    ],

                    order: [[1, 'asc']],
                    layout: {
                        topStart: {
                            buttons: [
                                {
                                    extend: 'colvis',
                                    columns: ':not(.noVis)',
                                    popoverTitle: 'Görünecek Kolonları Seçiniz'
                                }

                            ],


                        },
                        topEnd: {
                            pageLength: {
                                menu: [
                                    [10, 20, 50, 100, -1],
                                    ['10 Adet', '20 Adet', '50 Adet', '100 Adet', "Tümü"]
                                ]
                            }
                        }
                    },


                };

                datatable = $(table).DataTable(options);

                $('#datatableFilters').on('submit', function (event) {
                    event.preventDefault();
                    datatable.ajax.reload();
                });


                $('#topluSilOnay').on('click', function (event) {
                    event.preventDefault();
                    topluSil();
                })

                $(document).on('click', '.btn-sil', function () {
                    $('form#silme-formu input[name="id"]').val($(this).attr('data-id'));
                });

                $('[id="silme-formu"]').on('submit', function (event) {
                    event.preventDefault();
                    var id = $(this).find('input[name="id"]').val();
                    console.log(id);
                    loader().show();
                    $.ajax({
                        url: "/Stok/Sil",
                        method: "POST",
                        data: { ID: id },
                        success: function (response) {
                            console.log("Success:", response);
                            if (response.success) {
                                datatable.ajax.reload();
                                $('[id="Stok-silme"]').modal('hide')
                            }
                            loader().hide();

                        },
                        error: function (xhr, status, error) {
                            loader().hide();
                            console.log("Error:", xhr.responseText);
                        }
                    })
                });

                function topluSil() {
                    var idListesi = [];
                    $('#Stok-datatable tr.selected .btn-sil.Stok-toplu-silme').each(function (event) {
                        var id = $(this).attr('data-id');
                        idListesi.push(id);

                    })
                    loader().show();
                    $.ajax({
                        url: "/Stok/TopluSil",
                        method: "POST",
                        data: { idListesi: idListesi },
                        success: function (response) {
                            console.log("Success:", response);
                            if (response.success) {
                                $('[id="Stok-toplu-silme"]').modal('hide');
                                datatable.ajax.reload();
                            }
                            loader().hide();

                        },
                        error: function (xhr, status, error) {
                            loader().hide();
                            console.log("Error:", xhr.responseText);
                        }
                    })

                }

                const filtreleriTemizle = document.querySelector("#filtreleriTemizle");

                if (filtreleriTemizle) {

                    filtreleriTemizle.addEventListener("click", function (e) {
                        e.preventDefault();
                        document.querySelector("form#datatableFilters").querySelectorAll("input").forEach(input => {
                            input.value = ""
                        })
                        datatable.ajax.reload();
                    });
                }
                datatable.on('columns-reordered', function (e, settings, details) {
                    KTMenu.createInstances();
                });
            }


            var exportButtons = () => {
                const documentTitle = 'Stok-Listesi-' + moment(new Date()).format("DD-MM-YYYY");
                var buttons = new $.fn.dataTable.Buttons(table, {
                    buttons: [
                        {
                            extend: 'copyHtml5',
                            title: documentTitle,
                            exportOptions: {
                                columns: ['th:not(.no-export)'],
                            }
                        },
                        {
                            extend: 'excelHtml5',
                            title: documentTitle,
                            exportOptions: {
                                columns: ['th:not(.no-export)'],
                            }
                        },
                        {
                            extend: 'csvHtml5',
                            title: documentTitle,
                            exportOptions: {
                                columns: ['th:not(.no-export)'],
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            title: documentTitle,
                            exportOptions: {
                                columns: ['th:not(.no-export)'],
                            }
                        }
                    ]
                }).container().appendTo($('#kt_datatable_example_buttons'));

                // Hook dropdown menu click event to datatable export buttons
                const exportButtons = document.querySelectorAll('#kt_datatable_example_export_menu [data-kt-export]');
                exportButtons.forEach(exportButton => {
                    exportButton.addEventListener('click', e => {
                        e.preventDefault();

                        // Get clicked export value
                        const exportValue = e.target.getAttribute('data-kt-export');
                        const target = document.querySelector('.dt-buttons .buttons-' + exportValue);

                        // Trigger click event on hidden datatable export buttons
                        target.click();
                    });
                });
            }

            // Search Datatable --- official docs reference: https://datatables.net/reference/api/search()
            function getDataTableColumnSettings(table) {
                let columnSettings = [];
                table.columns().every(function () {
                    let column = this;

                    columnSettings.push({
                        index: column.index(),
                        visible: column.visible(),

                    });
                });
                return columnSettings;
            }
            // Kolonları aldıktan sonra Stok-datatable cookie'si içerisinde kaydedeceğiz.
            function saveDataTableSettingsToCookie(table) {
                let settings = getDataTableColumnSettings(table);
                setCookie('Stok-datatable', JSON.stringify(settings), 7);
            }

            function saveDataTableColumnSettingsToCookie(table, column, state) {
                var settings = getCookie("Stok-datatable");

                if (settings) {
                    settings = JSON.parse(settings);
                    settings = settings.map(setting => {
                        if (column == setting.index) {
                            setting.visible = state;
                        }

                        return setting;
                    })

                    console.log(settings);

                    setCookie('Stok-datatable', JSON.stringify(settings), 365);
                }
            }

            function loadDataTableSettingsFromCookie(table) {
                let settings = getCookie('Stok-datatable');

                if (settings) {
                    settings = JSON.parse(settings);
                    settings.forEach(function (setting) {
                        let column = table.column(setting.index);
                        column.visible(setting.visible);
                        // Burada başka kolon özelliklerini güncelleyebilirsiniz
                    });
                    table.draw();
                } else {
                    saveDataTableSettingsToCookie(table);
                }
            }

            // Public methods
            return {
                init: function () {
                    table = document.querySelector('#Stok-datatable');

                    if (!table) {
                        return;
                    }

                    initDatatable();
                    exportButtons();

                    return {
                        // Datatable API ile kolon özelliklerini alacağız
                        loadDataTableSettingsFromCookie,
                        saveDataTableSettingsToCookie,
                        saveDataTableColumnSettingsToCookie,
                        datatable
                    }

                },

            };
        }();


        $('#Stok-datatable').on('click', 'thead th', function () {

            var index = table.column(this).index();

            alert(index);

        });



    </script>
}


