
@{
    ViewBag.Title = "Ziyaretler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
  
        <div class="col-lg-10">
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <!--begin::Post-->
                <div class="container m-t20">
                    <div class="zaman-tuneli">
                        <div class="baslangic"><span>2008 - Başlangıç</span></div>
                        <div class="col-sm-6 col-sm-offset-6" data-yon="sag">
                            <div class="kutu">
                                <div class="tarih">2008</div>
                                <h4 class="baslik">BMW</h4>
                                <p>BMW için kritik önem arz eden piston silindirlerinin teminini sağladık</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="kutu">
                                <div class="tarih d-flex">
                                    <p class="Tarih">2009 - 2010</p>
                                    <p>14:00</p>
                                    <div class="d-flex flex-column">
                                        <p name="KullaniciID">Kaydı Açan:</p><p>İlayda</p>
                                        <p name="TamamlayanKullaniciID">Kaydı Açan:</p><p>İlayda</p>
                                    </div>
                                   
                                </div>
                                <div>
                                    <h1 name="" class="baslik">İşletme İsmi</h1>
                                    <h3>ziyaret Edilecek</h3>
                                    <div class="d-flex">
                                        <p name="Aciklama">Planlanan:</p><p>Ziyaret Edilecek</p>
                                    </div>
                                    <div class="d-flex">
                                        <p name="Gerceklesen">Gerçekleşen:</p><p>...</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-6" data-yon="sag">
                            <div class="kutu">
                                <div class="tarih">2011</div>
                                <h4 class="baslik">PORSCHE</h4>
                                <p>Dr. Ing. h.c. F. Porsche AG, kısaca Porsche AG veya sadece Porsche 1947 yılında Ferdinand Porsche'nın oğlu Ferry Porsche tarafından Stuttgart'ta kurulmuş olan spor araba firmasıdır.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="kutu">
                                <div class="tarih">2012</div>
                                <h4 class="baslik">BUGATTI</h4>
                                <p>Automobiles Ettore Bugatti, 1909 yılında o zamanki Alman şehri Molsheim, Alsace'de İtalyan doğumlu endüstriyel tasarımcı Ettore Bugatti tarafından kurulan, Alman, o zamanlar Fransız yüksek performanslı otomobil üreticisiydi.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-6" data-yon="sag">
                            <div class="kutu">
                                <div class="tarih">2012 - 2015</div>
                                <h4 class="baslik">FERRARI</h4>
                                <p>
                                    Ferrari S.p.A., merkezi ve kuruluş yeri İtalya'nın Modena şehrinin yakınındaki Maranello'da olan İtalyan bir lüks spor otomobili, coupe, süperspor otomobil, spor otomobil üreticisidir.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6" data-yon="sol">
                            <div class="kutu">
                                <div class="tarih">2015 - 2018</div>
                                <h4 class="baslik">LAND ROVER</h4>
                                <p>
                                    Land Rover, Jaguar Cars ile beraber Jaguar Land Rover'in yan kuruluşu olan İngiliz bir arazi aracı üreticisidir. Merkezi Solihull, İngiltere'dedir. Aslında Rover markası altında bir modelin adıydı.
                                </p>
                            </div>
                        </div>
                        <div class="cb"></div>
                    </div>
                </div>
                <!--end::Post-->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>             
    </script>
}


