@using YKPortal.Models.Dto

@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="tabContainer" style="padding-bottom: 5px;">
    <ul id="tabs" style="list-style: none; display: flex; gap: 5px; padding: 0; margin: 0;">
    </ul>
    <div id="tabContents">

    </div>
</div>