<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<connectionStrings>
		<add name="Baglanti" connectionString="Data Source=10.0.0.147;Database=BEKEN2010;User ID=Innova;Password=InnovaSql!.;"/>
	</connectionStrings>
</configuration>
