<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<connectionStrings>
		<add name="Baglanti" connectionString="Data Source=94.138.223.238;Database=YKPortal100;User ID=sa;Password=1986*1986r;Application Name=IDPortalDizayn;"/>
	</connectionStrings>
</configuration>
