@{
            ViewBag.Title = "Mesajlaşma";
            Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-flex flex-column flex-column-fluid mt-10">
    <div>
        <div id="kt_app_content" class="app-content container flex-column-fluid ">
            <div id="kt_app_content_container" class="app-container">
                <div class="d-flex flex-column flex-lg-row">
                    <div style="min-height:40px;" class="flex-column flex-lg-row-auto w-100 w-lg-300px w-xl-400px mb-10 mb-lg-0">

                        <div class="card card-flush">
                            <div style="min-height:40px;" class="card-header px-2" id="kt_chat_contacts_header">
                                <!-- Arama Formu -->
                                <input type="text" class="form-control form-control-solid py-2" name="aranacakKelime" value="@ViewBag.AranacakKelime" placeholder="Kullanıcı adını veya e-postasını ara...">
                            </div>

                            <div class="card-body px-4" id="kt_chat_contacts_body">
                                <div class="scroll-y me-n5 pe-5 h-200px h-lg-auto" id="kullaniciListesi">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Sidebar-->
                    <!--begin::Content-->
                    <div class="flex-lg-row-fluid ms-lg-4">
                        <!--begin::Messenger-->
                        <div class="card" id="kt_chat_messenger">
                            <!--begin::Card header-->
                            <div class="card-header" id="kt_chat_messenger_header">
                                <!--begin::Title-->
                                <div class="card-title ps-4">
                                    <!--begin::User-->
                                    <div class="d-flex">
                                        <div>
                                            <img style="width:40px;" class="rounded-circle object-fit-cover" src="~/Tema/media/avatars/300-21.jpg" />
                                        </div>
                                        <div class="ms-4">
                                            <a href="#" class="fs-4 fw-bold text-gray-900 text-hover-primary me-1 mb-2 lh-1">Brian Cox</a>
                                            <!--begin::Info-->
                                            <div class="mb-0 lh-1">
                                                <span class="badge badge-success badge-circle w-10px h-10px me-1"></span>
                                                <span class="fs-7 fw-semibold text-muted">Active</span>
                                            </div>
                                        </div>

                                        <!--end::Info-->
                                    </div>
                                    <!--end::User-->
                                </div>
                                <!--end::Title-->
                                <!--begin::Card toolbar-->
                                <div class="card-toolbar">
                                    <!--begin::Menu-->
                                    <div class="">
                                        <button class="btn btn-sm btn-icon btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                            <i class="ki-duotone ki-dots-square fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                        </button>

                                        <!--begin::Menu 3-->
                                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px py-3" data-kt-menu="true">
                                            <!--begin::Heading-->
                                            <div class="menu-item px-3">
                                                <div class="menu-content text-muted pb-2 px-3 fs-7 text-uppercase">
                                                    Contacts
                                                </div>
                                            </div>
                                            <!--end::Heading-->
                                            <!--begin::Menu item-->
                                            <div class="menu-item px-3">
                                                <a href="#" class="menu-link px-3" data-bs-toggle="modal" data-bs-target="#kt_modal_users_search">
                                                    Add Contact
                                                </a>
                                            </div>
                                            <!--end::Menu item-->
                                            <!--begin::Menu item-->
                                            <div class="menu-item px-3">
                                                <a href="#" class="menu-link flex-stack px-3" data-bs-toggle="modal" data-bs-target="#kt_modal_invite_friends">
                                                    Invite Contacts

                                                    <span class="ms-2" data-bs-toggle="tooltip" aria-label="Specify a contact email to send an invitation" data-bs-original-title="Specify a contact email to send an invitation" data-kt-initialized="1">
                                                        <i class="ki-duotone ki-information fs-7"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                                    </span>
                                                </a>
                                            </div>
                                            <!--end::Menu item-->
                                            <!--begin::Menu item-->
                                            <div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="right-start">
                                                <a href="#" class="menu-link px-3">
                                                    <span class="menu-title">Groups</span>
                                                    <span class="menu-arrow"></span>
                                                </a>

                                                <!--begin::Menu sub-->
                                                <div class="menu-sub menu-sub-dropdown w-175px py-4">
                                                    <!--begin::Menu item-->
                                                    <div class="menu-item px-3">
                                                        <a href="#" class="menu-link px-3" data-bs-toggle="tooltip" data-bs-original-title="Coming soon" data-kt-initialized="1">
                                                            Create Group
                                                        </a>
                                                    </div>
                                                    <!--end::Menu item-->
                                                    <!--begin::Menu item-->
                                                    <div class="menu-item px-3">
                                                        <a href="#" class="menu-link px-3" data-bs-toggle="tooltip" data-bs-original-title="Coming soon" data-kt-initialized="1">
                                                            Invite Members
                                                        </a>
                                                    </div>
                                                    <!--end::Menu item-->
                                                    <!--begin::Menu item-->
                                                    <div class="menu-item px-3">
                                                        <a href="#" class="menu-link px-3" data-bs-toggle="tooltip" data-bs-original-title="Coming soon" data-kt-initialized="1">
                                                            Settings
                                                        </a>
                                                    </div>
                                                    <!--end::Menu item-->
                                                </div>
                                                <!--end::Menu sub-->
                                            </div>
                                            <!--end::Menu item-->
                                            <!--begin::Menu item-->
                                            <div class="menu-item px-3 my-1">
                                                <a href="#" class="menu-link px-3" data-bs-toggle="tooltip" data-bs-original-title="Coming soon" data-kt-initialized="1">
                                                    Settings
                                                </a>
                                            </div>
                                            <!--end::Menu item-->
                                        </div>
                                        <!--end::Menu 3-->
                                    </div>
                                    <!--end::Menu-->
                                </div>
                                <!--end::Card toolbar-->
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <!-- Kullanıcı Listesi Bölümü -->
                            <div class="card-body px-4" id="kt_chat_contacts_body">
                                <div class="scroll-y me-n5 pe-5 h-200px h-lg-auto" id="kullaniciListesi">
                                    <!-- Kullanıcılar buraya dinamik olarak eklenecek -->
                                </div>
                                <div id="mesajListesi" class="scroll-y">
                                    <!-- Mesajlar buraya dinamik olarak eklenecek -->
                                </div>
                                <form method="POST" action="/Mesaj/Chat">
                                    <!-- Mesaj Gönderme Alanı -->
                                    <div class="input-group mt-5">
                                        <input type="hidden" id="KullaniciID" value="<%= ViewBag.KullaniciID %>">
                                        <input type="hidden" id="KarsiKullaniciID" value="@ViewBag.KarsiKullaniciID">
                                        <textarea id="Mesaj" class="form-control" placeholder="Mesajınızı yazın..."></textarea>
                                        <button type="button" id="btnSendMessage" class="btn btn-primary">Gönder</button>
                                    </div>
                                </form>

                            </div>


                        </div>
                        <!--end::Messenger-->
                    </div>
                    <!--end::Content-->
                </div>

            </div>
            <!--end::Content container-->
        </div>
    </div>

    <!--end::Content-->

</div>

<div>
    <div>
        <label for="txtUserName">Kullanıcı: </label> @Html.TextBox("txtUsername")
        <br />
        <label for="txtMessage">Mesaj: </label> @Html.TextBox("txtMessage") <button id="btnSendMessage">Mesaj Yolla</button>
    </div>

</div>

@section Scripts {
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/SignalR/Hubs"></script>
    <script>
        $(function () {
            var chat = $.connection.mesajHub;
            var $kullaniciID = $('#KullaniciID');
            var $karsiKullaniciID = $('#KarsiKullaniciID');
            var $message = $('#Mesaj');
            var $messages = $('#mesajListesi');


            // Gelen mesajları mesaj listesinin sonuna ekle
            chat.client.sendMessage = function (senderName, messageText) {
                var messageElement = `
                    <div class="d-flex justify-content-${senderName === 'You' ? 'end' : 'start'} mb-10">
                        <div class="d-flex flex-column align-items-${senderName === 'You' ? 'end' : 'start'}">
                            <div class="d-flex align-items-center mb-2">
                                <div class="me-3">
                                    <span class="text-muted fs-7 mb-1">Just now</span>
                                    <div data-id="1" class="kullanici-sec fs-5 fw-bold text-gray-900 text-hover-primary ms-1">${senderName}</div>
                                </div>
                            </div>
                            <div class="p-5 rounded ${senderName === 'You' ? 'bg-light-primary' : 'bg-light-info'} text-gray-900 fw-semibold mw-lg-400px text-${senderName === 'You' ? 'end' : 'start'}">
                                ${messageText}
                            </div>
                        </div>
                    </div>
    `;
                // Bu messageElement'i mesaj listesine eklemek için append yapabilirsiniz
                $('#mesajListesi').append(messageElement);
            };


            $.connection.hub.start().done(function () {
                $('#btnSendMessage').click(function () {
                    var data = {
                        kullaniciId: $kullaniciID.val(),  // Mesajı gönderen kullanıcı
                        karsiKullaniciId: $karsiKullaniciID.val(),  // Mesajın gönderildiği kullanıcı
                        mesaj: $message.val()
                    };

                    // Mesajı SignalR hub'a gönder
                    chat.server.send(data.kullaniciId, data.karsiKullaniciId, data.mesaj).done(function () {
                        // Başarılıysa temizle
                        $message.val('').focus();
                    })
                });
            });

            // Kullanıcı seçildiğinde mesajlaşma kısmını güncelle
            $(document).on('click', '.kullanici-sec', function (event) {
                event.preventDefault(); // Sayfa yenilenmesini durdur
                var kullaniciID = $(this).data('id');
                var kullaniciAd = $(this).data('ad');

                // Seçilen kullanıcının ID ve adını ilgili alanlara set et
                $('#KarsiKullaniciID').val(kullaniciID);
                $('#kt_chat_messenger_header .card-title a').text(kullaniciAd);

                // Önceki mesajları temizle (opsiyonel)
                $('#kt_chat_messenger_body').html('');
            });

            $("#btnSendMessage").on('click', (event) => {
                event.preventDefault();

                var data = {
                    KarsiKullaniciId: $('#KarsiKullaniciID').val(),  // Mesajın gönderildiği kullanıcı
                    Mesaj: $('#Mesaj').val()
                };

                $.ajax({
                    type: "POST",
                    url: '/Mesaj/Kaydet',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (msg) {
                        console.log(msg);
                    }
                });
            });


            // Kullanıcı arama fonksiyonu
            const kullaniciArama = () => {
                const kullaniciListesi = $('#kullaniciListesi');

                const kullaniciElementiOlustur = (kullanici) => {
                    return `
                    <div class="d-flex flex-stack py-4 kullanici-sec" data-id="${kullanici.ID}" data-ad="${kullanici.Ad} ${kullanici.Soyad}">
                        <div class="d-flex align-items-center">
                            <!-- Kullanıcı Bilgileri -->
                            <div class="symbol symbol-45px symbol-circle">
                                <span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder">${kullanici.Ad[0]}</span>
                            </div>
                            <div class="ms-5">
                                <div data-id="1" class="kullanici-sec fs-5 fw-bold text-gray-900 text-hover-primary mb-2">${kullanici.Ad} ${kullanici.Soyad}</div>
                                <div class="fw-semibold text-muted">E-posta: ${kullanici.KullaniciAdi}</div>
                            </div>
                        </div>
                    </div>
                `;
                }

                const kullaniciListesiOlustur = (aranacakKelime = "") => {
                    $.ajax({
                        type: "POST",
                        url: '/Mesaj/KullaniciGetir?aranacakKelime=' + aranacakKelime,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            const elementler = [];
                            for (let i = 0; i < data.length; i++) {
                                elementler.push(kullaniciElementiOlustur(data[i]));
                            }
                            kullaniciListesi.html(elementler.join(""));
                        },
                        error: function (msg) {
                            console.log(msg);
                        }
                    });
                }

                return {
                    kullaniciListesi,
                    kullaniciListesiOlustur
                }
            }



            kullaniciArama().kullaniciListesiOlustur("");

            $('input[name="aranacakKelime"]').on('input', function () {
                if ($(this).val().length == 0 || $(this).val().length > 2 ) {
                    kullaniciArama().kullaniciListesiOlustur($(this).val());
                }
            });

            const mesajlarilistele = () => {
                const mesajListesi = $('#mesajListesi');

                const mesajElementiOlustur = (mesaj) => {
                    return ` <div id="mesajListesi" class="scroll-y">
                                <div id="messages">
                                    <!-- Mesajlar burada listelenecek -->
                                    <div class="d-flex justify-content-start mb-10">
                                        <div class="d-flex flex-column align-items-start">
                                            <div class="d-flex align-items-center mb-2">
                                                <div class="me-3">
                                                    <span class="text-muted fs-7 mb-1">10 dakika önce</span>
                                                    <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary ms-1">Ahmet Yılmaz</a>
                                                </div>
                                            </div>
                                            <div class="p-5 rounded bg-light-info text-gray-900 fw-semibold mw-lg-400px text-start" name="Mesaj">
                                                ${mesaj.Mesaj}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end mb-10">
                                        <div class="d-flex flex-column align-items-end">
                                            <div class="d-flex align-items-center mb-2">
                                                <div class="me-3">
                                                    <span class="text-muted fs-7 mb-1">Şimdi</span>
                                                    <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary ms-1">Sen</a>
                                                </div>
                                            </div>
                                            <div name="Mesaj" class="p-5 rounded bg-light-primary text-gray-900 fw-semibold mw-lg-400px text-end">
                                              ${mesaj.Mesaj}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
      `;
                }

                const mesajListesiOlustur = () => {
                    $.ajax({
                        type: "POST",
                        url: '/Mesaj/MesajListesiGetir',
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            console.log(data);
                            const elementler = [];
                            for (let i = 0; i < data.length; i++) {
                                elementler.push(mesajElementiOlustur(data[i]));
                            }
                            // Listeyi yeniden oluşturmak yerine, mesajları eklemek istiyorsanız append kullanın
                            $('#mesajListesi').append(elementler.join(""));
                        },
                        error: function (msg) {
                            console.log(msg);
                        }
                    });
                };
                return {
                    mesajListesi,
                    mesajElementiOlustur,
                    mesajListesiOlustur
                }
            }

            mesajlarilistele().mesajListesiOlustur();
        });

    </script>
}