@{
    ViewBag.Title = "Mesajlaşma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-flex flex-column flex-column-fluid mt-10">
    <div>
        <div id="kt_app_content" class="app-content container flex-column-fluid ">
            <div id="kt_app_content_container" class="app-container">
                <div class="d-flex flex-column flex-lg-row">
                    <div style="min-height:40px;" class="flex-column flex-lg-row-auto w-100 w-lg-300px w-xl-400px mb-10 mb-lg-0">

                        <div class="card card-flush">
                            <div style="min-height:40px;" class="card-header px-2" id="kt_chat_contacts_header">
                                <!-- Arama Formu -->
                                <input type="text" class="form-control form-control-solid py-2" name="aranacakKelime" value="@ViewBag.AranacakKelime" placeholder="Kullanıcı adını veya e-postasını ara...">
                            </div>

                            <div class="card-body" id="kt_chat_contacts_body">
                                <div class="scroll-y me-n5 pe-5 h-200px h-lg-auto" id="kullaniciListesi">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Sidebar-->
                    <!--begin::Content-->
                    <div class="flex-lg-row-fluid ms-lg-4">
                        <!--begin::Messenger-->
                        <div class="card" id="kt_chat_messenger">
                            <!--begin::Card header-->
                            <div class="card-header" id="kt_chat_messenger_header">
                                <!--begin::Title-->
                                <div class="card-title ps-4">
                                    <!--begin::User-->
                                    <div class="d-flex">
                                        <div>
                                            <img style="width:40px;height: 40px;" class="rounded-circle object-fit-cover" src="" id="karsiResim" />
                                        </div>
                                        <div class="ms-4">
                                            <a href="#" class="fs-4 fw-bold text-gray-900 text-hover-primary me-1 mb-2 lh-1">Brian Cox</a>
                                            <!--begin::Info-->
                                            <div class="mb-0 lh-1">
                                                <span class="badge badge-success badge-circle w-10px h-10px me-1"></span>
                                                <span class="fs-7 fw-semibold text-muted">Active</span>
                                            </div>
                                        </div>

                                        <!--end::Info-->
                                    </div>
                                    <!--end::User-->
                                </div>
                                <!--end::Title-->
                                <!--begin::Card toolbar-->
                                <div class="card-toolbar">
                                    <!--begin::Menu-->
                                    <div class="">
                                        <button class="btn btn-sm btn-icon btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                            <i class="ki-duotone ki-dots-square fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                        </button>

                                        <!--begin::Menu 3-->
                                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px" data-kt-menu="true">
                                            <!--begin::Heading-->
                                            <div class="menu-item">
                                                <div class="menu-content text-muted fs-7 text-uppercase">
                                                    Contacts
                                                </div>
                                            </div>
                                            <!--end::Heading-->
                                            <!--begin::Menu item-->
                                            <div class="menu-item p-0">
                                                <a href="#" class="menu-link rounded-1" data-bs-toggle="modal" data-bs-target="#kt_modal_users_search">
                                                    Add Contact
                                                </a>
                                            </div>
                                            <!--end::Menu item-->

                                        </div>
                                        <!--end::Menu 3-->
                                    </div>
                                    <!--end::Menu-->
                                </div>
                                <!--end::Card toolbar-->
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <!-- Kullanıcı Listesi Bölümü -->
                            <div class="card-body" id="kt_chat_contacts_body">
                                <div class="scroll-y me-n5 pe-5 h-200px h-lg-auto" id="kullaniciListesi" style="height:500px;">
                                    <!-- Kullanıcılar buraya dinamik olarak eklenecek -->
                                </div>
                                <div id="mesajListesi" class="scroll-y" style="height:500px;">

                                </div>
                                <form method="POST" action="/Mesaj/Chat">
                                    <!-- Mesaj Gönderme Alanı -->
                                    <div class="input-group mt-5">
                                        <input type="hidden" id="KullaniciID" value="@ViewBag.KullaniciID">
                                        <input type="hidden" id="KarsiKullaniciID" value="@ViewBag.KarsiKullaniciID">
                                        <div style="height:1px;width:100%; background-color:#f1f1f1;"></div>
                                        <div class="d-flex flex-column" style="width:100%;">
                                            <textarea id="Mesaj" class="form-control border-0" placeholder="Mesajınızı yazın..."></textarea>
                                            <div class="d-flex justify-content-between align-items-end border-top">
                                                <div class="d-flex align-items-center me-2">
                                                    <!-- Dosya Seçme Butonu -->
                                                    <button id="btnFileSelect" class="btn btn-sm btn-icon btn-active-light-primary me-1" type="button" data-bs-toggle="tooltip" aria-label="Coming soon" data-bs-original-title="Coming soon" data-kt-initialized="1">
                                                        <i class="ki-duotone ki-paper-clip fs-3"></i>
                                                    </button>
                                                    <div id="fileDisplayArea"></div>
                                                    <!-- Gizli Dosya Seçici -->
                                                    <input type="file" name="Dosya" id="Dosya" style="display: none;" />
                                                    <button class="btn btn-sm btn-icon btn-active-light-primary me-1" type="button" data-bs-toggle="tooltip" aria-label="Coming soon" data-bs-original-title="Coming soon" data-kt-initialized="1">
                                                        <i class="ki-duotone ki-exit-up fs-3"><span class="path1"></span><span class="path2"></span></i>
                                                    </button>
                                                </div>
                                                <button type="button" id="btnSendMessage" class="btn btn-primary rounded-1" style="height:36px;">Gönder</button>
                                            </div>
                                        </div>


                                    </div>
                                </form>

                            </div>


                        </div>
                        <!--end::Messenger-->
                    </div>
                    <!--end::Content-->
                </div>

            </div>
            <!--end::Content container-->
        </div>
    </div>

    <!--end::Content-->

</div>



@section Scripts {
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/SignalR/Hubs"></script>
    <script>

        function scrollToBottom(select) {
            var $chatContainer = $(select); // Replace with your container's ID or class
            $chatContainer.scrollTop($chatContainer[0].scrollHeight);
        }

        $(function () {
            var chat = $.connection.mesajHub;
            var $kullaniciID = $('#KullaniciID');
            var $karsiKullaniciID = $('#KarsiKullaniciID');
            var $message = $('#Mesaj');
            var $messages = $('#mesajListesi');


            // Gelen mesajları mesaj listesinin sonuna ekle
            chat.client.sendMessage = function (senderName, messageText) {
                var messageElement = `
                                    <div class="d-flex justify-content-${senderName === 'You' ? 'end' : 'start'} mb-10">
                                        <div class="d-flex flex-column align-items-${senderName === 'You' ? 'end' : 'start'}">
                                            <div class="d-flex align-items-center mb-2">
                                                <div class="me-3">
                                                    <span class="text-muted fs-7 mb-1">Just now</span>
                                                    <div data-id="1" class="kullanici-sec fs-5 fw-bold text-gray-900 text-hover-primary ms-1">${senderName}</div>
                                                </div>
                                            </div>
                                            <div class="p-5 rounded ${senderName === 'You' ? 'bg-light-primary' : 'bg-light-info'} text-gray-900 fw-semibold mw-lg-400px text-${senderName === 'You' ? 'end' : 'start'}">
                                                ${messageText}
                                            </div>
                                        </div>
                                    </div>
                    `;
                // Bu messageElement'i mesaj listesine eklemek için append yapabilirsiniz
                $('#mesajListesi').append(messageElement);
            };


            $.connection.hub.start().done(function () {
                $('#btnSendMessage').click(function () {
                    var data = {
                        kullaniciId: $kullaniciID.val(),  // Mesajı gönderen kullanıcı
                        karsiKullaniciId: $karsiKullaniciID.val(),  // Mesajın gönderildiği kullanıcı
                        mesaj: $message.val()
                    };

                    // Mesajı SignalR hub'a gönder
                    chat.server.send(data.kullaniciId, data.karsiKullaniciId, data.mesaj).done(function () {
                        // Başarılıysa temizle
                        $message.val('').focus();
                    })
                });
            });

            $(document).on('click', '.kullanici-sec', function (event) {
                event.preventDefault();

                var karsiKullaniciID = $(this).data('id');
                var kullaniciAd = $(this).data('ad');
                var resimYolu = $(this).data('resim');

                // Seçilen kullanıcının adını ve ID'sini göster
                $('#KarsiKullaniciID').val(karsiKullaniciID);
                $('#kt_chat_messenger_header .card-title a').text(kullaniciAd);
                $('#karsiResim').attr('src', resimYolu);


                // Mesajları getir
                mesajlarilistele(karsiKullaniciID);
            });


            // Kullanıcı seçildiğinde mesajlaşma kısmını güncelle
            $(document).on('click', '.kullanici-sec', function (event) {
                event.preventDefault();
                var kullaniciID = $(this).data('id');
                var kullaniciAd = $(this).data('ad');


                $('#KarsiKullaniciID').val(kullaniciID);
                $('#kt_chat_messenger_header .card-title a').text(kullaniciAd);

                $('#kt_chat_messenger_body').html('');

                mesajlarilistele().mesajListesiOlustur();
            });

            // <-----Butona tıklayınca dosya seçme penceresini aç START------->
            $('#btnFileSelect').on('click', function () {
                $('#Dosya').click();
            });


            $('#Dosya').on('change', function () {
                var selectedFile = this.files[0];

                if (selectedFile) {
                    console.log('Seçilen dosya: ', selectedFile.name);

                }
            });

            // Dosya seçildiğinde dosya adını mesaj alanına ekleniyor
            $('#Dosya').on('change', function () {
                var selectedFile = this.files[0];
                if (selectedFile) {
                    $('#selectedFileName').val(selectedFile.name);
                    var currentMessage = $('#Mesaj').val(); // Mevcut mesajı al
                    $('#Mesaj').val(currentMessage + `\nDosya: ${selectedFile.name}`);

                }
            });


            // <-----Butona tıklayınca dosya seçme penceresini aç END------->

            $("#btnSendMessage").on('click', (event) => {
                event.preventDefault();

                // FormData oluşturuyoruz, hem mesaj hem de dosya için kullanılacak
                var formData = new FormData();

                // Mesaj ve KarsiKullaniciId ekleniyor
                formData.append('KarsiKullaniciID', $('#KarsiKullaniciID').val());  // Mesajın gönderildiği kullanıcı
                formData.append('Mesaj', $('#Mesaj').val());


                // Dosya varsa FormData'ya ekle
                var dosya = $('#Dosya')[0].files[0];  // Dosya input elementinden dosyayı alıyoruz
                if (dosya) {
                    formData.append("Dosya", dosya);
                }

                const template =    ` <div class="d-flex justify-content-end mb-10">
                                        <div class="d-flex flex-column align-items-end">
                                            <div class="d-flex align-items-center mb-2">
                                                <div class="me-3">
                                                    <span class="text-muted fs-7 mb-1">Şimdi</span>
                                                    <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary ms-1">Sen</a>
                                                </div>
                                            </div>
                                          <div class="p-5 rounded bg-light-primary text-gray-900 fw-semibold mw-lg-400px text-end">
                                           ${$('#Mesaj').val()}
                                       </div>
                                        </div>
                                    </div>`


                $.ajax({
                    type: "POST",
                    url: '/Mesaj/Kaydet',
                    contentType: false,  // FormData olduğu için false olarak ayarlanıyor
                    processData: false,  // FormData ile JSON string'e çevrilmesini engelliyoruz
                    data: formData,  // FormData'yı doğrudan gönderiyoruz
                    dataType: 'json',
                    success: function (data) {
                        console.log("Mesaj kaydedildi:", data);
                        $('#Mesaj').val('').focus();  // Mesaj kutusunu temizle
                        $('#Dosya').val('');  // Dosya seçimini temizle
                        $('#mesajListesi').append(template);
                        scrollToBottom('#mesajListesi');
                    },
                    error: function (msg) {
                        console.log("Mesaj kaydedilemedi: ", msg);
                    }
                });
            });

            $(document).on('click', '.mesaj-sil', function () {
                mesajAlani = $(this).closest('[data-id]');
                var mesajID = mesajAlani.data('id');  // Silinecek mesajın ID'sini al

                if (confirm("Bu mesajı silmek istediğinizden emin misiniz?")) {
                    $.ajax({
                        type: "POST",
                        url: '/Mesaj/MesajSil',  // Mesaj silme işlemi yapılacak controller metodu
                        data: { id: mesajID },  // Silinmesi istenen mesaj ID'sini gönder
                        success: function (response) {
                            if (response.SonucKodu === 200) {
                                // Mesaj başarılı bir şekilde silindiyse, mesajı sayfadan kaldır
                                mesajAlani.remove();
                                alert('Mesaj başarıyla silindi.');
                            } else {
                                // Silme işlemi başarısız olduysa kullanıcıya bildirim yap
                                alert('Mesaj silinemedi. Lütfen tekrar deneyin.');
                            }
                        },
                        error: function () {
                            // Hata durumunda kullanıcıya bir mesaj göster
                            alert('Bir hata oluştu, mesaj silinemedi.');
                        }
                    });
                }
            });
            // Kullanıcı arama fonksiyonu
            const kullaniciArama = () => {
                const kullaniciListesi = $('#kullaniciListesi');

                const kullaniciElementiOlustur = (kullanici) => {
                    return `
                                    <div class="d-flex flex-stack py-4 kullanici-sec" data-id="${kullanici.ID}" data-ad="${kullanici.Ad} ${kullanici.Soyad}" data-resim="${kullanici.Resim}" style="">
                                        <div class="d-flex align-items-center">
                                            <!-- Kullanıcı Bilgileri -->
                                            <div class="symbol symbol-45px symbol-circle">
                                                <span class="symbol-label bg-light text-danger fs-6 fw-bolder">
                                                    <img style="height:40px;width:40px;border-radius:100%;object-fit:cover;" src="${kullanici.Resim}" />
                                                </span>
                                            </div>
                                            <div class="ms-5">
                                                <div data-id="1" class="kullanici-sec fs-5 fw-bold text-gray-900 text-hover-primary mb-2">${kullanici.Ad} ${kullanici.Soyad}</div>
                                                <div class="fw-semibold text-muted">E-posta: ${kullanici.KullaniciAdi}</div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column align-items-end ms-2">
                                                    <span class="text-muted fs-7 mb-1">5 hrs</span>
                                                    <span class="badge badge-sm badge-circle badge-light-success">2</span>
                                        </div>
                                    </div>
                                `;
                }

                const kullaniciListesiOlustur = (aranacakKelime = "") => {
                    $.ajax({
                        type: "POST",
                        url: '/Mesaj/KullaniciGetir?aranacakKelime=' + aranacakKelime,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            const elementler = [];
                            for (let i = 0; i < data.length; i++) {
                                elementler.push(kullaniciElementiOlustur(data[i]));
                            }
                            kullaniciListesi.html(elementler.join(""));
                        },
                        error: function (msg) {
                            console.log(msg);
                        }
                    });
                }

                return {
                    kullaniciListesi,
                    kullaniciListesiOlustur
                }
            }



            kullaniciArama().kullaniciListesiOlustur("");

            $('input[name="aranacakKelime"]').on('input', function () {
                if ($(this).val().length == 0 || $(this).val().length > 2) {
                    kullaniciArama().kullaniciListesiOlustur($(this).val());
                }
            });

        const mesajlarilistele = () => {
            const mesajListesi = $('#mesajListesi');

            const mesajElementiOlustur = (mesaj) => {
                var kullaniciID = $('#KullaniciID').val();
                var karsiKullaniciID = $('#KarsiKullaniciID').val();
                var id = $('#ID').val();
     var dosyaLinki = '';
     var dosyaIkonu = '';
      // Dosya varsa ikonu ve linkini oluştur
    if (mesaj.DosyaAdi) {
    var dosyaUzantisi = mesaj.DosyaAdi.split('.').pop().toLowerCase();
    switch (dosyaUzantisi) {
      case 'pdf':
          dosyaIkonu = '<i class="text-gray-700 fs-1 fa fa-file-pdf-o"></i>';
          break;
      case 'jpg':
      case 'jpeg':
      case 'png':
          dosyaIkonu = '<i class="fs-1 fa fa-file-image-o"></i>';
          break;
      case 'doc':
      case 'docx':
          dosyaIkonu = '<i class="fs-1 fa fa-file-word-o"></i>';
          break;
      case 'xls':
      case 'xlsx':
          dosyaIkonu = '<i class="fs-1 fa fa-file-excel-o"></i>';
          break;
      default:
          dosyaIkonu = '<i class="fs-1 fa fa-file-o"></i>';
          break;
}
    const dosyaElementOlustur = (dosya) =>{

    

     // Dosya linkini oluştur
     dosyaLinki = `
         <div class="d-flex align-items-center mt-2">
             ${dosyaIkonu}
             <a href="/Uploads/Dosyalar/${mesaj.DosyaAdi}" target="_blank" class="ms-2">${mesaj.DosyaAdi}</a>
         </div>`;
 }
    }


                let generateLink = mesaj.Dosya ? `<a href="/Uploads/Dosyalar/${mesaj.Dosya}">${mesaj.Mesaj}</a>` : null;
                console.log(mesaj);

        // Karşı kullanıcıdan gelen mesaj
        if (mesaj.KullaniciID == karsiKullaniciID && mesaj.KarsiKullaniciID == kullaniciID) {
            return `
            <div class="d-flex justify-content-start mb-10" data-id="${mesaj.ID}">
                <div class="d-flex flex-column align-items-start">
                    <div class="d-flex align-items-center mb-2">
                        <div class="me-3">
                            <span class="text-muted fs-7 mb-1">10 dakika önce</span>
                            <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary ms-1">AAA</a>
                        </div>
                    </div>
                   
                    <div class="p-5 rounded bg-light-primary text-gray-900 fw-semibold mw-lg-400px text-end">

                        ${generateLink ? generateLink : mesaj.Mesaj}
                    </div>
      
                </div>
            </div>`;
        }
        // Kullanıcıdan gelen mesaj
              
        else if (mesaj.KullaniciID == kullaniciID && mesaj.KarsiKullaniciID == karsiKullaniciID) {
            return `
            <div class="d-flex justify-content-end mb-10" data-id="${mesaj.ID}">
                <div class="d-flex flex-column align-items-end">
                    <div class="d-flex align-items-center mb-2">
                        <div class="me-3">
                            <span class="text-muted fs-7 mb-1">Şimdi</span>
                            <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary ms-1">Sen</a>
                        </div>
                    </div>
                    <button class="btn btn-danger btn-sm mesaj-sil" >
                         <i class="fa fa-trash"></i> Sil
                    </button>
                    <div class="p-5 rounded bg-light-primary text-gray-900 fw-semibold mw-lg-400px text-end">
                      ${generateLink ? generateLink : mesaj.Mesaj}
                    </div>
                 
                </div>
            </div>`;
        }
        return '';
    };

    const mesajListesiOlustur = () => {
        $.ajax({
            type: "POST",
            url: '/Mesaj/MesajListesiGetir',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log(data);
                const elementler = [];
                data = data.filter(m => (m.KarsiKullaniciID == $('#KarsiKullaniciID').val() || m.KullaniciID == $('#KarsiKullaniciID').val()))
                for (let i = 0; i < data.length; i++) {
                    elementler.push(mesajElementiOlustur(data[i]));
                }
                $('#mesajListesi').html(elementler.join("")); // Mevcut mesajları tamamen yenile
                scrollToBottom('#mesajListesi');
            },
            error: function (msg) {
                console.log(msg);
            }
        });

    };

    return {
        mesajListesi,
        mesajElementiOlustur,
        mesajListesiOlustur
    };
};

mesajlarilistele();



   });
    </script>
}