@using System.Data
@using YKPortal.Models.Dto
@model DataSet
@{
    ViewBag.Title = "Depo Otomasyonu";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string KullaniciID = Request.Cookies["KullaniciID"].Value;
    DataTable dtMenuler = ViewBag.dtMenuler as DataTable;

}


<div class="container-fluid p-4 m-0">
    <div class="row">

        <div class="col-lg-12">
                <!--begin::Post-->
                @foreach (DataRow dr in dtMenuler.Rows)
                {
                    <a href="@dr["url"]" class="tum-kenar-oval" style="width:49%;padding:0px;margin:1px;height:150px;
font-size:25px;float:left;text-align:center;vertical-align:middle;background-color:cadetblue;color:white;">
                       <br />
                        <strong>@dr["Menu"]</strong>
                    </a>
                }
                <!--end::Post-->

        </div>
    </div>
</div>

@section Scripts {
    <script>

    </script>
}


