@using System.Data
@model System.Data.DataTable
@{
    ViewBag.Title = "B2BLogo";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<!-- ROW OPEN -->
<div >
    <div class="col-lg-12">
        <div class="card custom-card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="user-datatable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="wd-2">
                                    Photo
                                </th>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Last Active</th>
                                <th>Country</th>
                                <th>Verification</th>
                                <th>Joined Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < 55; i++)
                            {
                            <tr>
                                <td class="text-center">
                                    <div class="avatar avatar-md rounded-circle">
                                        <img alt="avatar" class="rounded-circle" src="~/Tema/media/avatars/300-1.jpg" style="height:50px;">
                                    </div>
                                </td>
                                <td>
                                    <p class="tx-14 font-weight-semibold text-dark mb-1">Kelly</p>
                                    <p class="tx-13 text-muted mb-0">kellybelly357@webmail.org</p>
                                </td>
                                <td>
                                    <span class="text-muted tx-13">Senior Javascript Developer</span>
                                </td>
                                <td>
                                    <span class="badge bg-light text-muted tx-13">36 mins ago</span>
                                </td>
                                <td>
                                    <span class="text-muted tx-13">Columbia</span>
                                </td>
                                <td>
                                    <span class="badge font-weight-semibold bg-secondary-transparent text-secondary tx-11">Not Verified</span>
                                </td>
                                <td>
                                    <span class="text-muted tx-13">13-3-2021</span>
                                </td>
                                <td>
                                    <a href="#" class="btn btn-icon btn-primary-light me-2" data-bs-toggle="tooltip" title="" data-bs-original-title="Edit">
                                        <i class="fe fe-edit"></i>
                                    </a>
                                </td>
                            </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ROW CLOSED -->
@section scripts {
    <!-- INTERNAL SELECT2 JS -->

    <!-- INTERNAL Data tables js-->
    <script src="~/Tema/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Tema/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/Tema/plugins/datatable/dataTables.responsive.min.js"></script>

    <!-- USERLIST JS-->
    <script src="~/Tema/js/userlist.js"></script>
}

@section Styles {
}