<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PostBoxServiceEndpoint">
                    <security mode="Transport" />
                </binding>
                <binding name="PostBoxServiceEndpoint_http" />
                <binding name="EFaturaEDMPort">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://pb-g.elogo.com.tr/PostBoxService.svc"
                binding="basicHttpBinding" bindingConfiguration="PostBoxServiceEndpoint"
                contract="LogoPostBoxService.IPostBoxService" name="PostBoxServiceEndpoint" />
            <endpoint address="http://pb.elogo.com.tr/PostBoxService.svc"
                binding="basicHttpBinding" bindingConfiguration="PostBoxServiceEndpoint_http"
                contract="LogoPostBoxService.IPostBoxService" name="PostBoxServiceEndpoint_http" />
            <endpoint address="https://test.edmbilisim.com.tr/EFaturaEDM21ea/EFaturaEDM.svc"
                binding="basicHttpBinding" bindingConfiguration="EFaturaEDMPort"
                contract="EFaturaEDM.EFaturaEDMPort" name="EFaturaEDMPort" />
        </client>
    </system.serviceModel>
</configuration>