<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="PostBoxServiceEndpoint">
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://pb-g.elogo.com.tr/PostBoxService.svc"
                binding="basicHttpBinding" bindingConfiguration="PostBoxServiceEndpoint"
                contract="ServiceReferenceLogo.IPostBoxService" name="PostBoxServiceEndpoint" />
		</client>
    </system.serviceModel>
  <runtime>
  </runtime>
</configuration>