<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="PostBoxServiceEndpoint">
					<security mode="Transport"/>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://pb-g.elogo.com.tr/PostBoxService.svc" binding="basicHttpBinding" bindingConfiguration="PostBoxServiceEndpoint" contract="LogoPostBoxService.IPostBoxService" name="PostBoxServiceEndpoint"/>
		</client>
    </system.serviceModel>
  <runtime>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
