@{
    var cariID = ViewData["CariID"];
}

<div class="col-lg-2">
    <!--begin::Menu-->
    <div class="menu menu-rounded menu-column menu-title-gray-700 menu-icon-gray-500 menu-arrow-gray-500 menu-bullet-gray-500 menu-arrow-gray-500 menu-state-bg fw-semibold"
         data-kt-menu="true">

        <div class="menu-item p-0">
            <a href="/Cari/Duzenle/@ViewData["CariID"]" class="menu-link rounded-0 mt-2 py-0 px-2">
                <span class="menu-icon">
                    <i class="ki-duotone ki-home fs-3">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
                    </i>
                </span>
                <span class="menu-title">Genel Bilgiler</span>
            </a>
        </div>
        <div class="menu-item p-0">
            <a href="/Cari/KisiListe?CariID=@ViewData["CariID"]" class="menu-link rounded-0 py-0 px-2">
                <span class="menu-icon">
                    <i class="ki-duotone ki-people fs-3">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                        <span class="path5"></span>
                    </i>
                </span>
                <span class="menu-title">Kişiler</span>
            </a>
        </div>
        <div class="menu-item p-0">
            <a href="/Cari/NotListe?CariID=@ViewData["CariID"]" class="menu-link rounded-0 py-0 px-2">
                <span class="menu-icon">
                    <i class="ki-duotone ki-notepad-bookmark fs-3">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                        <span class="path5"></span>
                        <span class="path6"></span>
                    </i>
                </span>
                <span class="menu-title">Notlar</span>
            </a>
        </div>
        <!--begin::Menu item-->
        <div class="menu-item p-0">
            <a href="/Dosya/Liste?Modul=Cari&KayitID=@ViewData["CariID"]" class="menu-link rounded-0 py-0 px-2">
                <span class="menu-icon">
                    <i class="ki-duotone ki-folder fs-3">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                </span>
                <span class="menu-title">Dosyalar</span>
            </a>
        </div>
        <!--end::Menu item-->
        <!--begin::Menu item-->
        <div class="menu-item p-0">
            <a href="/Cari/ZiyaretListe?CariID=@ViewData["CariID"]" class="menu-link rounded-0 py-0 px-2">
                <span class="menu-icon">
                    <i class="ki-duotone ki-profile-user fs-3">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                    </i>
                </span>
                <span class="menu-title">Ziyaretler</span>
            </a>
        </div>
        <!--end::Menu item-->
        <!--begin::Menu item-->
        <div class="menu-item p-0">
            <a href="/Cari/Liste" class="menu-link rounded-0 py-0 px-2">
                <span class="menu-icon">
                    <i class="ki-duotone ki-black-left fs-3"></i>
                </span>
                <span class="menu-title">Cari Listesine Dön</span>
            </a>
        </div>
        <!--end::Menu item-->
    </div>
    <!--end::Menu-->
</div>