
@{
    ViewBag.Title = "Kişi Ekle";
    Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

<div class="container-fluid">
    <div class="row">
        @Html.Partial("~/Views/Cari/_CariMenu.cshtml", new ViewDataDictionary { { "CariID", Convert.ToString(ViewBag.CariID) } })

        <div class="col-lg-10">
            <!--begin::Form-->
            <form id="cari-kisi-ekle-form" class="form" action="@Url.Action("KisiEkle","Cari",null)" method="post" enctype="multipart/form-data">

                @if (Model != null)
                {
                    if (Model.Rows.Count > 0)
                    {
                        string ID = Convert.ToString(Model.Rows[0]["ID"]);
                        string Bilgi = Convert.ToString(Model.Rows[0]["Bilgi"]);
                        if (ID == "0")
                        {
                            <!--begin::Alert-->
                            <div class="alert alert-danger d-flex align-items-center p-5">
                                <!--begin::Icon-->
                                <i class="ki-duotone ki-shield-tick fs-2hx text-danger me-4"><span class="path1"></span><span class="path2"></span></i>
                                <!--end::Icon-->
                                <!--begin::Wrapper-->
                                <div class="d-flex flex-column">
                                    <!--begin::Content-->
                                    <span>@Bilgi</span>
                                    <!--end::Content-->
                                </div>
                                <!--end::Wrapper-->
                            </div>
                            <!--end::Alert-->
                        }
                    }
                }

                <!--begin::Scroll-->
                <div class="d-flex flex-column scroll-y px-5 px-lg-10 container mt-10">
                    <input type="hidden" name="CariID" value="@ViewBag.CariID" />
                    <!--begin::Row Input group-->
                    <div class="row mb-7">
                        <!--begin::Input group-->
                        <div class="col-lg-6">
                            <!--begin::Label-->
                            <label for="Isim" class="fw-semibold fs-6 mb-2">İsim</label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" id="Isim" name="Isim" class="form-control p-2 mb-3 mb-lg-0" value="" />

                            <!--end::Input-->
                            <div class="mt-3" data-error="Isim"></div>
                        </div>
                 
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="col-lg-6">
                            <!--begin::Label-->
                            <label for="Email " class=" fw-semibold fs-6 mb-2">Email</label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="email" name="Email" id="Email" class="form-control p-2 mb-3 mb-lg-0" placeholder="Email " value="" />
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                    </div>
                    <!--begin::Row Input group-->
                    <!--begin::Row Input group-->
                    <div class="row mb-7">
                        <!--begin::Input group-->
                        <div class="col-lg-6">
                            <div>
                                <!--begin::Label-->
                                <label for="Gorev" class="fw-semibold fs-6 mb-2">Görev</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" name="Gorev" id="Gorev" class="form-control p-2 mb-3 mb-lg-0" placeholder="Gorev" value="" />
                                <!--end::Input-->
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <!--begin::Label-->
                                <label for="Telefon" class="fw-semibold fs-6 mb-2">Telefon</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" name="Telefon" id="Telefon" class="form-control p-2 mb-3 mb-lg-0" placeholder="Telefon" value="" />
                                <!--end::Input-->
                            </div>
                        </div>

                    </div>
                    <!--begin::Row Input group-->
                    <!--begin::Row Input group-->
                    <div class="row mb-7">
                        <!--begin::Input group-->
                        <div class="col-lg-12">
                            <div class="form-check">
                                <input class="form-check-input" name="Aktif" type="checkbox" value="true" id="Aktif" checked />
                                <label class="form-check-label user-select-none cursor-pointer" for="Aktif">
                                    Aktif
                                </label>
                            </div>
                        </div>
                        <!--end::Input group-->
                    </div>
                    <!--begin::Actions-->
                    <div class="pt-10">
                        <a onclick="history.back()" class="btn btn-light btn-sm me-3" data-kt-users-modal-action="cancel">Geri</a>
                        <button type="submit" class="btn btn-primary btn-sm" data-kt-users-modal-action="Kaydet">
                            <span class="indicator-label">Kaydet</span>
                            <span class="indicator-progress">
                                Lütfen Bekleyin...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                    <!--end::Actions-->
                </div>
                <!--end::Scroll-->

            </form>
            <!--end::Form-->
        </div>

    </div>
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {

            Inputmask({
                "mask": "(999) 999-9999"
            }).mask("#Telefon");

            const form = document.getElementById('cari-kisi-ekle-form')   
            const Isim = document.getElementById('Isim')
            form.addEventListener('submit', (e) => {
                e.preventDefault();

                let isValidated = true;
                const message = {
                    Isim: [],
                   
                };

           
                if (Isim.value === "") {
                    isValidated = false;
                    message.Isim.push("Lütfen bir isim giriniz.")
                }
          
                if (isValidated) {
                    form.submit();
                } else {
                    document.querySelector('[data-error="Isim"]').innerHTML = message.Isim.map(error => `<div class="text-danger">${error}</div>`).join("");
                 
                }
            });
        });

    </script>
}

