@using YKPortal.Models.Dto
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    
    <div class="row">
        @Html.Partial("~/Views/Cari/_CariMenu.cshtml", new ViewDataDictionary { { "CariID", Convert.ToString(ViewBag.CariID) } })
        <div class="col-lg-10">
            <form id="kt_modal_add_user_form" class="form container" action="@Url.Action("ZiyaretEkle","Cari",null)" method="post">
                <div class="d-flex flex-column scroll-y px-5 px-lg-10 mt-10">
                    <input type="hidden" name="CariID" value="@ViewBag.CariID" />
                    <!--begin::Row Input group-->
                    <div class="row mb-7">
                        <!--begin::Input group-->
                        <div class="col-lg-6">
                            <!--begin::Label-->
                            <label for="Tarih" class="fw-semibold fs-6 mb-2">Tarih</label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" name="Tarih" class="form-control p-2 mb-3 mb-lg-0"/>

                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="col-lg-6">
                            <!--begin::Label-->
                            <label for="Aciklama" class="fw-semibold fs-6 mb-2">Aciklama</label>
                            <label for="Aciklama" class="fw-semibold fs-6 mb-2">Aciklama</label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" name="Aciklama" class="form-control p-2 mb-3 mb-lg-0" autofocus />
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Actions-->
                        <div class="pt-10">
                            <a href="/Cari/ZiyaretEkle" class="btn btn-light me-3" data-kt-users-modal-action="cancel">Geri</a>
                            <button type="submit" class="btn btn-primary" data-kt-users-modal-action="Kaydet">
                                <span class="indicator-label">Kaydet</span>
                                <span class="indicator-progress">
                                    Lütfen Bekleyin...
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                        </div>
                        <!--end::Actions-->
                    </div>
                    <!--end::Row Input group-->

                </div>
                
            </form>
        </div>
    </div>
</div>


