
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex flex-column scroll-y px-5 px-lg-10  mt-10">
                <div class="row mb-7">
                    <div class="col-lg-8">
                        <label for="Aciklama" class="fw-bold text-gray-600 fs-6 mb-2" style="width:100px;">Eğitim Düzeyi</label>
                        <select id="ddlegitimduzeyi" style="width:400px;">

                            @if (ViewBag.EgitimDuzeyi != null)
                            {
                                foreach (var item in ViewBag.EgitimDuzeyi)
                                {
                                    <option value="@item.ID">@item.EgitimDuzeyi</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-lg-8">
                        <label for="Aciklama" class="fw-bold text-gray-600 fs-6 mb-2" style="width:100px;">Sınıf</label>
                        <select id="ddlSinif" style="width:400px;">
                        </select>
                    </div>
                    <div class="col-lg-12">
                        <label for="Aciklama" class="fw-bold text-gray-600 fs-6 mb-2" style="width:100px;">Ders</label>
                        <input type="text" id="txtDers" value="" style="width:1000px;" />
                    </div>
                    <div class="col-lg-8">
                        <label for="Aciklama" class="fw-bold text-gray-600 fs-6 mb-2" style="width:100px;">Sıra</label>
                        <input type="text" id="txtSira" style="width:50px;text-align:right;" />
                    </div>
                    <div class="col-lg-8">
                        <label for="Aciklama" class="fw-bold text-gray-600 fs-6 mb-2" style="width: 100px;"></label>
                        <button type="submit" class="btn btn-primary btn-sm" id="btnkaydet">
                            <span class="indicator-label">Kaydet</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-flush mt-4 scroll-x">
        <table class="table align-middle table-row-dashed fs-6" id="tblliste" style="width:100%">
            <thead>
                <tr class="text-start" style="font-size:15px;">
                    <th class="min-w-125px"><strong>Sıra</strong></th>
                    <th class="min-w-125px"><strong>Eğitim Düzeyi</strong></th>
                    <th class="min-w-125px"><strong>Sınıf</strong></th>
                    <th class="min-w-125px"><strong>Dersler</strong></th>
                    <th class="text-end min-w-100px no-export"><strong>İşlemler</strong></th>
                </tr>
            </thead>
            <tbody class="text-gray-600 fw-semibold">
            </tbody>
        </table>
    </div>
</div>



@section Scripts {

    <script type="text/javascript">

        var id = "";
        $("#btnkaydet").on("click", function () {
            $.ajax({
                url: '/Bep/DersKaydet',
                data: JSON.stringify({
                    ders: $("#txtDers").val(),
                    id: id,
                    egitimduzeyid: $("#ddlegitimduzeyi").val(),
                    sinifId: $("#ddlSinif").val(),
                    Sira: $("#txtSira").val()
                }),
                type: 'POST',
                contentType: 'application/json',
                success: function (data) {
                    id = "";
                    $("#txtDers").val("");
                    $("#txtSira").val("");
                    Listele();
                },
            });
        });

        $(document).ready(function () {
            Listele();
        });

        $("#ddlegitimduzeyi").on("change", function () {
            sinifgetir($(this).val());
        });

        function sinifgetir(egitimduzeyid,secilisinif) {
            $("#ddlSinif").find("option").remove();
            $.ajax({
                url: '/Bep/egitimduzeylerisinifgetir',
                type: 'POST',
                data: JSON.stringify({ egitimduzeyid: egitimduzeyid }),
                contentType: 'application/json',
                success: function (data) {
                    data.forEach(function (seri) {
                        if (secilisinif == seri.ID) {
                            $("#ddlSinif").append("<option value=" + seri.ID + " selected=''>" + seri.Sinif + "</option>");
                        }
                        else {
                            $("#ddlSinif").append("<option value=" + seri.ID + ">" + seri.Sinif + "</option>");
                        }
                    });
                },
            });
        }

        function Listele() {
            $('#tblliste > tbody').find("tr").remove();
            $.ajax({
                url: '/Bep/DersGetir',
                type: 'POST',
                contentType: 'application/json',
                success: function (data) {

                    data.forEach(function (seri) {

                        var butongroup = "";
                        butongroup += '<tr data-id="' + seri.ID + '" data-sira="' + seri.Sira + '" data-egitimduzeyid="' + seri.EgitimDuzeyId + '" data-sinifid="' + seri.SinifId + '" data-text="' + seri.Ders + '">';

                        butongroup += '<td class="align-items-center p-0">';
                        butongroup += seri.Sira;
                        butongroup += '</td>';

                        butongroup += '<td class="align-items-center p-0">';
                        butongroup += seri.EgitimDuzeyi;
                        butongroup += '</td>';

                        butongroup += '<td class="align-items-center p-0">';
                        butongroup += seri.Sinif;
                        butongroup += '</td>';

                        butongroup += '<td class="align-items-center p-0">';
                        butongroup += seri.Ders;
                        butongroup += '</td>';

                        butongroup += '<td class="text-end py-1">';
                        butongroup += '<div class="menu-item p-0" style="float: left;">';
                        butongroup += '<a href="javascript:void(0);" class="menu-link px-2 py-0 btnduzenle">Düzenle</a>';
                        butongroup += '</div>';

                        butongroup += '<div class="menu-item p-0" style="float: left;">';
                        butongroup += '<a href="javascript:void(0);" class="menu-link px-2 py-0 btnsil">Sil</a>';
                        butongroup += '</div>';

                        butongroup += '</td>';
                        butongroup += '</tr>';

                        $("#tblliste tbody").append(butongroup);
                    });

                    $(".btnduzenle").on("click", function () {
                        id = $(this).closest("tr").attr("data-id");
                        $("#ddlegitimduzeyi").val($(this).closest("tr").attr("data-egitimduzeyid"));
                        sinifgetir($(this).closest("tr").attr("data-egitimduzeyid"), $(this).closest("tr").attr("data-sinifid"));
                        $("#ddlSinif").val($(this).closest("tr").attr("data-sinifid"));
                        $("#txtDers").val($(this).closest("tr").attr("data-text"));
                        $("#txtSira").val($(this).closest("tr").attr("data-sira"));
                    });

                    $(".btnsil").on("click", function () {
                        Swal.fire({
                            title: 'Silinsin mi?',
                            showDenyButton: true,
                            showCancelButton: false,
                            confirmButtonText: 'Evet',
                            denyButtonText: 'Hayır',
                            customClass: {
                                actions: 'my-actions',
                                cancelButton: 'order-1 right-gap',
                                confirmButton: 'order-2',
                                denyButton: 'order-3',
                            },
                        }).then((result) => {
                            if (result.isConfirmed) {
                                var secilisatir = $(this).closest("tr");
                                $.ajax({
                                    url: '/Bep/DersSil',
                                    data: JSON.stringify({ id: secilisatir.attr("data-id") }),
                                    type: 'POST',
                                    contentType: 'application/json',
                                    success: function (data) {
                                        $(secilisatir).remove();
                                    },
                                });
                            }
                        })
                    });
                },
            });
        }

    </script>
}




