@{
    ViewBag.Title = "Bilgilendirme";
    Layout = "~/Views/Shared/_LayoutTab.cshtml";
}
<div class="container">
    <p style="margin:10px;">
        <h2>
            @Html.Raw(ViewBag.Mesaj)
        </h2>
    </p>
    </div>
