@model System.Data.DataTable
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="kt_modal_add_user_form" class="form container" action="@Url.Action("Ekle","Tanimlamalar",null)" method="post">
    <div class="d-flex flex-column scroll-y px-5 px-lg-10">

        <!--begin::Row Input group-->
        <div class="row mb-7">
            <!--begin::Input group-->
            <div class="col-lg-6" style="display:none;">
                <!--begin::Label-->
                <label class="required fw-semibold fs-6 mb-2">Kod</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input type="text" name="Kod" class="form-control  mb-3 mb-lg-0" placeholder="Kod" value="@ViewBag.GrupKodu" required />

                <!--end::Input-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="col-lg-6">
                <!--begin::Label-->
                <label class="required fw-semibold fs-6 mb-2">Değer</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input type="text" name="Deger" class="form-control  mb-3 mb-lg-0" autofocus placeholder="Değer" required />
                <!--end::Input-->
            </div>
            <!--end::Input group-->
        </div>
        <!--end::Row Input group-->
    </div>
    <!--begin::Actions-->
    <div class=" pt-4 container">
        <button type="submit" class="btn btn-primary" data-kt-users-modal-action="Kaydet">
            <span class="indicator-label">Kaydet</span>
            <span class="indicator-progress">
                Lütfen Bekleyin...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>
    </div>
    <!--end::Actions-->
</form>
