<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="YKPortal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="Baglanti" connectionString="Data Source=94.138.223.238;Database=YKPortal;User ID=ilayda;Password=1234@;" />
		<add name="BaglantiYK" connectionString="Data Source=94.138.223.238;Database=YKPortal;User ID=ilayda;Password=1234@;" />
		<add name="BaglantiBravo" connectionString="Data Source=94.138.223.238;Database=BravoKahve;User ID=ilayda;Password=1234@;" />
		<add name="BaglantiSinanoglu" connectionString="Data Source=192.168.1.11\NETSIS;Database=INNOVA;User ID=Innova;Password=InnovaSql!.;" />
		<add name="BaglantiNobel" connectionString="Data Source=94.138.223.238;Database=NobelCrm2;User ID=ilayda;Password=1234@;" />
		<add name="BaglantiSebat" connectionString="Data Source=192.168.1.4;Database=INNOVA;User ID=sa;Password=InnovaSql!.;" />
		<add name="BaglantiEkiphan" connectionString="Data Source=192.168.1.5;Database=IDYAZILIMPortal;User ID=ID;Password=1986*1986r" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="SeoDescription" value="YK YAZILIM ERP - Siz hayal edin biz yazalım." />
		<add key="SeoKeywords" value="yk yazılım, ykyazılım, muhasebe, erp, stok, cari, kasa, fatura, efatura, irsaliye, sipariş, teklif, crm, üretim, müşteri, yazılım." />
		<add key="FirmaAdi" value="YK YAZILIM" />
		<add key="SSLYonlendir" value="False" />
		<add key="IlkAcilisSayfasi" value="" />
		<add key="AnaSayfadaAcilisSayfasiKontrolu" value="True" />
		<add key="IlkUyelikdeKullaniciyiOnayliYap" value="True" />
		<add key="YeniUyelikKaydi" value="True" />
		<add key="SifremiUnuttum" value="True" />
		<add key="B2BLogoKullaniciAdi" value="" />
		<add key="B2BLogoParola" value="" />
		<add key="B2BLogoSirket" value="" />
		<add key="SmsKullaniciAdi" value="8503461774" />
		<add key="SmsParola" value="1986*1986ry" />
		<add key="SmsIsim" value="YK YAZILIM" />

		<add key="UyelikID" value="00000000-0000-0000-0000-000000000000"/>
	</appSettings>
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="1200" />
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483644" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
			</customHeaders>
		</httpProtocol>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="PostBoxServiceEndpoint">
					<security mode="Transport" />
				</binding>
				<binding name="TurkPos WS TESTSoap">
					<security mode="Transport" />
				</binding>
				<binding name="TurkPos WS TESTSoap1" />
				<binding name="EFaturaEDMPort">
					<security mode="Transport" />
				</binding>
				<binding name="EFaturaEDMPort1">
					<security mode="Transport" />
				</binding>
				<binding name="EFaturaEDMPort2">
					<security mode="Transport" />
				</binding>
				<binding name="EFaturaEDMPort3">
					<security mode="Transport" />
				</binding>
				<binding name="EFaturaEDMPort4">
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
			<customBinding>
				<binding name="TurkPos WS TESTSoap12">
					<textMessageEncoding messageVersion="Soap12" />
					<httpsTransport />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="https://pb-g.elogo.com.tr/PostBoxService.svc"
                binding="basicHttpBinding" bindingConfiguration="PostBoxServiceEndpoint"
                contract="LogoPostBoxService.IPostBoxService" name="PostBoxServiceEndpoint" />
			<endpoint address="https://test-dmz.param.com.tr/turkpos.ws/service_turkpos_test.asmx" binding="basicHttpBinding" bindingConfiguration="TurkPos WS TESTSoap" contract="ParamPos.TurkPosWSTESTSoap" name="TurkPos WS TESTSoap" />
			<endpoint address="https://test-dmz.param.com.tr/turkpos.ws/service_turkpos_test.asmx" binding="customBinding" bindingConfiguration="TurkPos WS TESTSoap12" contract="ParamPos.TurkPosWSTESTSoap" name="TurkPos WS TESTSoap12" />
			<endpoint address="https://test.edmbilisim.com.tr/EFaturaEDM21ea/EFaturaEDM.svc" binding="basicHttpBinding" bindingConfiguration="EFaturaEDMPort" contract="EFatura.EFaturaEDMPort" name="EFaturaEDMPort" />
			<endpoint address="https://test.edmbilisim.com.tr/EFaturaEDM21ea/EFaturaEDM.svc" binding="basicHttpBinding" bindingConfiguration="EFaturaEDMPort1" contract="ServiceReference.EFatura.EFaturaEDMPort" name="EFaturaEDMPort1" />
			<endpoint address="https://test.edmbilisim.com.tr/EFaturaEDM21ea/EFaturaEDM.svc" binding="basicHttpBinding" bindingConfiguration="EFaturaEDMPort2" contract="EFatura.EFaturaEDMPort" name="EFaturaEDMPort2" />
			<endpoint address="https://test.edmbilisim.com.tr/EFaturaEDM21ea/EFaturaEDM.svc" binding="basicHttpBinding" bindingConfiguration="EFaturaEDMPort3" contract="EFatura.EFaturaEDMPort" name="EFaturaEDMPort3" />
			<endpoint address="https://test.edmbilisim.com.tr/EFaturaEDM21ea/EFaturaEDM.svc" binding="basicHttpBinding" bindingConfiguration="EFaturaEDMPort4" contract="EFatura.EFaturaEDMPort" name="EFaturaEDMPort4" />
		</client>
	</system.serviceModel>
	<applicationSettings>
		<YKPortal.Properties.Settings>
			<setting name="YKPortal_YKPARAMPOS_TurkPos_x0020_WS_x0020_TEST" serializeAs="String">
				<value>https://posws.param.com.tr/turkpos.ws/service_turkpos_prod.asmx</value>
			</setting>
		</YKPortal.Properties.Settings>
	</applicationSettings>
</configuration>