@using YKPortal.Models.Dto;
@{
    ViewBag.Title = "Yetkiler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-flush mt-4">
                <div class="card-body p-4">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="text-center">
                                <tr>
                                    <th class="px-2 py-4"></th>
                                    <th class="px-2 py-4">Gör</th>
                                    <th class="px-2 py-4">Düzenle</th>
                                    <th class="px-2 py-4">Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (YetkilerDto yetki in ViewBag.Yetkiler)
                                {
                                    <tr>
                                        <td class="px-3 py-4">
                                            @yetki.Menu
                                        </td>
                                        <td class="px-2 py-4 text-center">
                                            <input type="checkbox" @(yetki.Gor ? "checked" : "") />
                                        </td>
                                        <td class="px-2 py-4 text-center">
                                            <input type="checkbox" @(yetki.Duzenle ? "checked" : "") />
                                        </td>
                                        <td class="px-2 py-4 text-center">
                                            <input type="checkbox" @(yetki.Sil ? "checked" : "") />
                                        </td>
                                    </tr>
                                }



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>